<h3>{{ project.title }}</h3>

<img src="{{project.imageUrl}}" width=250 alt="Image">
<div class="">
  {{#if userMatch}}
  <a class="nav-link" href="/project/{{project.id}}/edit">Edit</a>
  {{/if}}
</div>
<div class="">
  <a href="/profile/{{project.creator.slug}}">
    <h5>By: {{ project.creator.name }}</h5>
  </a>
  <h5>Date: {{ dateTime }}</h5>
  <a href="/category/{{ pattern.category }}">
    <h5>Category: {{ project.category }}</h5>
  </a>
</div>
<div class="">


</div>
<div class="">
  <p>{{ project.material }}</p>
</div>
<div class="">
  <p> {{ project.reflection }}</p>

</div>
