<h3>{{ project.title }}</h3>

<img src="{{project.imageUrl}}" width=250 alt="Image">
<div class="">
  {{#if userMatch}}
  <a class="nav-link" href="/project/{{project.id}}/edit">Edit</a>
  {{/if}}
</div>
<div class="">
  <h4>{{ project.creator.name }}</h4>
  <h4> {{ project.created }}</h4>
  <h4> {{ project.category }}</h4>
</div>
<div class="">


</div>
<div class="">
  <p>{{ project.material }}</p>
  <p> {{ project.reflection }}</p>
</div>
