<h2>{{ location.name }} <small>({{ location.country }})</small></h2>
<img src="{{location.image}}" alt="Image">
<h3>{{ location.type }}</h3><br>
<h2>{{ location.title }}</h2>
<p>{{ location.description }}</p><br>


<h3>Add Comment</h3>
<form action="locations/comment" method="post">

  <label for="description">Comment :</label>
  <textarea id="description" name="description" rows="8" cols="80"></textarea>
  <br>

  <button type="submit" name="button">Submit</button>
</form>
