<h2>{{ location.name }} <small>({{ location.country }})</small></h2>
<h3>{{ location.type }}</h3><br>
<h2>{{ location.title }}</h2>
<p>{{ location.description }}</p><br>

<h3>Update</h3>
<form action="/locations/{{ location.id }}?_method=PUT" method="post">
  <label for="name">Name :</label>
  <input type="text" name="name" value="{{ location.name }}">

  <label for="country">Country :</label>
  <input type="text" name="country" value="{{ location.country }}">

  <label for="type">Type :</label>
  <input type="text" name="type" value="{{ location.type }}">

  <label for="title">Title :</label>
  <input type="text" id="title" name="title" value="{{ location.title }}"><br>

  <label for="description">Description</label><br>
  <textarea id="description" name="description" rows="8" cols="80" value="{{ location.description }}"></textarea><br>

  <button type="submit" name="button">Submit</button>
</form><br>

<h3>Delete</h3><br>
<form action="/locations/{{ location.id }}?_method=DELETE" method="post">
  <button type="submit" name="button">Delete</button>
</form><br>


<h3>Add Comment</h3>
<form action="/comments" method="post">
  {{!-- <label for="title">Title :</label>
  <input type="text" id="title" name="title" placeholder="e.g. Great Guide!">
  <br> --}}

  <label for="description">Comment :</label><br>
  <textarea id="description" name="description" rows="8" cols="80"></textarea>
  <br>

  <button type="submit" name="button">Submit</button>
</form>
