<div class="container">
  <h2>Savings Account</h2>

  <br>

  {{#each savingsAccounts as |SA|}}
    <div class>
      <div class="row col s12 m6">

        <ul class="left"><b>{{SA.name}}</b></ul>

        <br>

      </div>

      <div class="row col s12 m6">

        <ul class="left"><img src="{{SA.bank_img}}" height="60"></ul>

        <br>

        <p>Minimum Interest Rate: {{SA.min_interest_rate}}%</p>

        <br>

        <p>Maximum Interest Rate: {{SA.max_interest_rate}}%</p>

        <br>

        <p>Initial Deposit: {{SA.minimum_deposit}}</p>

        <br>

        <ul class="right"><a href="{{SA.link}}" class="brand-logo waves-effect waves-light btn right">Apply Here</a></ul>

        <br>
        <br>

      </div>

      <div class="row col s12 m6">

        <ul class="collapsible z-depth-0" data-collapsible="accordion" >

        <li>
          <div class="collapsible-header row col s12 m6"><ul class="center">

            More Details

          </ul></div>

          <div class="collapsible-body">

            <p>Minimum Age: {{SA.minimum_age}}</p>
            <p>Minimum Deposit: $ {{sa.minimum_deposit.[0]}}</p>
            <p>Fees and Charges: {{SA.fees_charges}}</p>

          </div>

        </li>

      </ul>
      </div>

    </div>

    <br>

  {{/each}}

  <br>
  <br>
</div>
