<div class="row">
  {{!-- Loop --}}
  {{#each suppliers as |supp|}}
  <div class="col-4">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ supp.company }}</h4>
        <p class="card-text">
          {{!-- 22 Oct: show resto address here instead of just link  --}}
          {{ supp.address }} {{ supp.unit }}<br>
          , Singappore {{ supp.postalcode}}

          {{ supp.contact }}
        </p>

        <form
          class="form-inline"
          action="/vegetable/{{ supp.id }}?_method=DELETE"
          method="post"
        >
          <a href="/vegetable/{{ supp.id }}" class="btn btn-primary">View Vegetable</a>

        </form>

      </div>
    </div>
  </div>
  {{/each}}

  {{!-- Update 22 October, remove the li grid system to use grid system instead  --}}
  {{!-- <ul>
  </ul> --}}
</div>
