<div class="container">
  <nav class="navbar navbar-default navbar-toggleable-sm navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">{ v }</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%
        let registerStyle = ""
        let logInStyle = ""
        let dropDownStyle = ""
        let currentUserName = ""
        if (currentUser) {
          registerStyle = "display:none; visibility:hidden"
          logInStyle = "display:none; visibility:hidden"
          currentUserName = currentUser.name
          currentUserId = currentUser.id
        } else if (!currentUser) {
          dropDownStyle = "display:none; visibility:hidden"
          currentUserName = ""
          currentUserId = ""
        }
        %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup" style="<%= registerStyle %>">sign up </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login" style="<%= logInStyle %>">log in </a>
        </li>
        <li class="nav-item dropdown" style="<%= dropDownStyle %>">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="<%= dropDownStyle %>">hello, <%= currentUserName %>!</a>
          <div class="dropdown-menu text-center" style="<%= dropDownStyle %>">
            <h6 class="dropdown-header"><em>~ awesome actions ~</em></h6>
            <a class="dropdown-item" href="/program/new" style="<%= dropDownStyle %>">create a program</a>
            <a class="dropdown-item" href="/program" style="<%= dropDownStyle %>">view all programs</a>
            <a class="dropdown-item" href="/program/own" style="<%= dropDownStyle %>">view your programs</a>
            <a class="dropdown-item" href="<%= "/auth/" + currentUserId + "/edit" %>" style="<%= dropDownStyle %>">edit your profile</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header"><em>~ stay don't go ~</em></h6>
            <a class="dropdown-item" href="/auth/logout" style="<%= dropDownStyle %>">log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
