  <div class='panel full-height'>
<div class='panel-heading'>
  <h1> Recommended </h1>
</div>
<div class='list'>
  <% if (events[3].length <= 0) {%>
    <div class='panel panel-default'>
      <p> You have not start any event yet. </p>
      <a href='/event/new'> Start Your own event now<a>
    </div>
  <%} else {%>
    <%events[3].forEach( (event)=> {%>
      <a href='/event/<%= event._id%>'>
        <div class='panel panel-default'>
         <p><span class='h4'><%= event.name %></span>
           <% if (event.category !== null) {%>
              <span class='label label-success'><%= event.category%></span>
           <%}%>
           <% if (event.vacancy > 0) {%>
            <span class='label label-warning'><%= event.vacancy%> slots left</span>
           <%}%>

           <img class='pull-right' src="<%= cloudinary.url(event.creator.avatar, { width: 50, height: 50, crop: 'fill', gravity: 'face', radius: 'max' })%>"></img></p>
         <p><%= dateShow(event.startDate) %>

       </p>
        </div>
      </a>
      <%})%>
  <% }%>
</div>
</div>
