{{!-- We can also setup a form here to update the existing data --}}
{{!-- when there's a path, there's a route in your index.js --}}
{{!-- why PUT, because all update technically MUST go thru PUT request --}}
<h3>Edit your Task</h3>
<h1>{{tasks.assign}}</h1>
<form action="/task/{{tasks.id}}/edit?_method=PUT" method="post">
  <label for="details">Details</label>
  <textarea name="details" class="form-control" rows="5" cols="30">
    {{tasks.details}}
  </textarea>

  {{!-- todo: make this a required field --}}
  {{!-- <div class="form-group text-muted">
    <label for="name">Do you want to take charge? </label>
    <input type="radio" name="assign" value= {{user.id}}> Yes
    <input type="radio" name="assign" value= {{tasks.assign}}> No
  </div> --}}
  <button type="submit">Submit</button>
</form>
