<h1>Fridge Name: {{fridge.name}}</h1>
<h1>Fridge Passcode to Enter the fridge: {{fridge.passcode}}</h1>
{{!-- <h1 type="hidden">{{fridge.id}}</h1> --}}

<div class="row">
  {{#each fridge.task as |task|}}
  <div class="col-3">
    <div class="card">
      <img style="width: 100px" src="/img/stickynote.png" alt="Sticky Notes Image">
      <h1 class="">{{ task.details }}</h1>
      &nbsp;
      <button class="btn btn-secondary form-inline" type="button" onclick="location.href='/task/{{task.id}}/edit'">Edit</button>
      <div class="card-body">
        <p>Task taken by:{{ task.assign.name }}</p>
        {{#if task.complete}}
        <p>Task Status: Completed</p>
        {{else}}
        <p>Task Status: Not Complete</p>
        {{#if task.assign}}
        {{!-- <button class="btn btn-secondary form-inline" type="button" onclick="location.href='/task/{{task.id}}/edit'">Edit</button> --}}
        <form
        class="form-inline"
        action="/task/{{task.id}}/editAssign?_method=PUT"
        method="post">
        &nbsp;
        <button class="btn btn-primary" type="submit" name="button">Remove In charge</button>
      </form>
      {{else}}
      <form
      class="form-inline"
      action="/task/{{task.id}}/editAssignMe?_method=PUT"
      method="post">
      &nbsp;
        <button class="btn btn-primary" type="submit" name="button">I want to take up this task</button>
      </form>
      {{/if}}
        <form
          class="form-inline"
          action="/task/{{task.id}}/complete?_method=PUT"
          method="post">
          &nbsp;
          <button class="btn btn-primary" type="submit" name="button">Completed</button>
        </form>
        {{/if}}
        <form
        class="form-inline"
        action="/fridge/{{ fridge }}/{{task.id}}?_method=DELETE"
        method="post">
        &nbsp;
        <button class="btn btn-danger" type="submit" name="button">Delete</button>
      </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<div class="btn dropup">
  <button type="button" class="btn btn-primary btn-circle btn-xl" onclick="location.href='/fridge/{{fridge.id}}/task'">
      New Task
  </button>
</div>
