<div class="container">
  <h4><blockquote>
      Course Details
    </blockquote></h4>
  <h3>{{course.name}}</h3>
  <h5>By : {{course.teacher.name}}</h5>
<br>
  <div class="card">
    <div class="card-content">
      <p>{{course.description}}</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#test4">Address</a></li>
        <li class="tab"><a href="#test5">Time</a></li>
        <li class="tab"><a href="#test6">People</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">{{course.address}}<br>
        Google Map Here</div>
        <div id="test5">Date : {{course.date}}<br>
          Time : {{course.time}}<br>
          Duration : {{course.duration}}</div>
          <div id="test6">Instructor : {{course.teacher.name}}<br>
            Current Students : {{course.currentStudents}}</div>
          </div>
  </div>
{{#if admin}}
  <a a href="/courseupdate/{{course.id}}" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Update</a>
{{else}}
  <a a href="/pending" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Sign Up</a>
{{/if}}
<h3>Reviews</h3>
<form action="/course" method="post">

  <label for="title">Title</label>
  <input type="text" id="title" name="title" placeholder="Review Title">
  <br>

  <label for="description">What would you like to say?</label>
  <textarea id="description" name="description" rows="8" cols="80"></textarea>
  <br>

  <button type="submit" name="button">Submit</button>
</form>

<div class="row">
  {{#each reviews as |review|}}
      <div class="col s4 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{review.name}}</span>
            <p>{{review.description}}</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
