<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>| DoAP |</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheet/kube.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div id="wrapper">
        <header>
            <section>
                <ul class="icons" id="social-icons">
                    <a href="/" class="logone"><b>DoAP</b></a>

                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>

                    <nav id="breadcrumbs-custom-separator" class="breadcrumbs">
                        <ul class="floatright">

                            {{!-- Reference to Global Variance  --}}
                            {{#if currentUser}} 
                                <li><a href="/">Home</a></li>
                                <li><a href="/new">Create Yours</a></li>
                                <li><a href="/report">Report</a></li>
                                <li><a href="/logout">Logout</a></li>
                             
                                {{else}}
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                    <li><a href="/report">Report</a></li> 
                            {{/if}}

                            <div class="search">
                            <a href="/search"><i class="fa fa-search"></i></a>
                          </div>
                        </ul>
                    </nav>
                </ul>
            </section>
        </header>
    </div>
  
    {{#if errors}}
        {{#each errors as |e|}}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{e.msg}}
            </div>
        {{/each}}
    {{/if}}


    {{#if alerts.error}}
        {{#each alerts.error as |e|}}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{e}}
            </div>
        {{/each}}
    {{/if}}


    {{#if alerts.success}}
        {{#each alerts.success as |s|}}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success</strong> {{s}}
            </div>
        {{/each}}
    {{/if}}


{{{body}}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/kube.js"></script>

</body>
</html>
