<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ViscuSS</title>
    <script charset="utf-8" src="https://ucarecdn.com/libs/widget/3.1.4/uploadcare.full.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      {{!-- <link type="text/css" rel="stylesheet" href="/assets/css/style.css"/> --}}
      <link type="text/css" rel="stylesheet" href="/assets/css/materialize.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <div class=" left-align">
    <nav>
      <div class="nav-wrapper brown darken-4 z-depth-5">
      <ul class="left hide-on-med-and-down">
        <a href="/" class="brand-logo center">ViscuSS</a>
      <li><a href="/newquestion">Add a question</a></li>
      {{#if currentUser}}
      <li><a href="/profile">{{currentUser.name}}</a></li>
      <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/landingpage">Login/Register</a></li>
      {{/if}}
      <li><a href="/search">Search</a></li>
    </ul>
    <ul class="right">
      <li><a href="/admin">Admin</a></li>
      {{#checkAdmin "admin" currentUser.type}}
      <li><a href="/admin/console">Admin Console</a></li>
      {{/checkAdmin}}
    </ul>
    <ul id="slide-out" class="side-nav">
      <li><a href="/"><h1>ViscuSS</h1></a></li>
      <li>---</li>
      <li><a href="/newquestion">Add a question</a></li>
      {{#if currentUser}}
      <li><a href="/profile">{{currentUser.name}}</a></li>
      <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/landingpage">Login/Register</a></li>
      {{/if}}
      <li><a href="/search">Search</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    </nav>

    <div class="parallax-container p-con-modified">
    <div class="parallax"><img src="/assets/images/background1.jpg"></div>
  </div>
  <div class="section-white">
    <div class="row container">
      <h1>{{title}}</h1>
      {{> alerts }}
      {{{body}}}
    </div>
  </div>
  <div class="parallax-container">
  <div class="parallax"><img src="/assets/images/background2.jpg"></div>
</div>

<footer class="page-footer brown darken-3 z-depth-5">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">No time to fill this shit up bro, the fucking commands take forever to trouble sh</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright brown darken-4 z-depth-5">
            <div class="container">
            © 2017 Mexican Cartel José
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.js"></script>
    <script src="/assets/js/frontend.js"></script>
  <!-- set up uploadcare -->
    <script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url facebook gdrive gphotos dropbox instagram evernote flickr skydrive";
  UPLOADCARE_PUBLIC_KEY = "7c224efbd86b44e210ed";
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/3.1.4/uploadcare.full.min.js"></script>
</div>
  </body>
</html>
