<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirated Twitter</title>
  </head>
  <body>
    <a href="/"><h1>Pirated Twitter</h1></a>
    {{#if user}}
      <div>
        <a href="/profile/{{user.username}}">{{ user.username }}</a> <!-- render if user is logged in -->
        <a href="/logout">Logout</a>
      </div>
      <div>
        <a id="tweetNum" href="#">Tweets: {{ user.tweets.length }}</a>
        <a href="#">Following: {{ user.following.length }}</a>
        <a href="#">Followers: {{ user.followers.length }}</a>
      </div>
    {{else}}
      <a href="/register">Register</a> <!-- render if user is not logged in -->
      <a href="/login">Login</a> <!-- render if user is not logged in -->
      <p>Not Logged In</p>
    {{/if}}

    <form id="search" action="/profile" method="post">
      <input id="searchBar" type="text" name="username" placeholder="Search Pirated Twitter">
      <button type="submit">Search</button>
    </form>

    <h5>Autocomplete List</h5>
    <ul id="autocomplete"></ul>

    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/script.js" charset="utf-8"></script>
  </body>
</html>
