<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fantasy Tours</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica|Ruthie" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/css/style.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script>UPLOADCARE_PUBLIC_KEY = '8ca25847559a0fdd22e0'</script>
  </head>

  <body>

  <div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/addtvshows">Add TV Shows</a></li>
      <li class="divider"></li>
      <li><a href="/addtours">Add Tours</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href='/logout'>Logout</a></li>
    </ul>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href='/' class="brand-logo">Fantasy Tours</a>
      {{!-- <a href='/' data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> --}}

      <ul class="right hide-on-med-and-down">
        {{#if user}}
        <li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons right">add</i></a></li>
        <li><a href='/{{ user.slug }}/cart'><i class="material-icons">shopping_cart</i></a></li>
        <li class="username"><a class="dropdown-button" data-activates="dropdown2" style="font-family:'Ruthie'">{{ user.name }}</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href='/register'>Register</a></li>
        {{/if}}
      </ul>
      {{!-- <ul class="side-nav" id="mobile-demo">
        {{#if user}}
        <li><a class="dropdown-button" href="#" data-activates="dropdown1">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href='/{{ user.slug }}/cart'>Cart</a></li>
        <li>Logged in as {{ user.name }}</li>
        <li><a href='/logout'>Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href='/register'>Register</a></li>
        {{/if}}
      </ul> --}}

    </div>
  </nav>
  </div>



    {{{ body }}}



    {{!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg_Egj7ORFG6-gfNZrf9wd-DB_4pqDq0o&callback=initMap">
    </script> --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/frontend.js"></script>
    <script src="https://ucarecdn.com/libs/widget/3.1.4/uploadcare.full.min.js" charset="utf-8"></script>
  </body>
</html>
