<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <a href="/"><h1>Homepage</h1></a>
    {{#if user}}
      <a href="/profile/{{user.slug}}">Profile</a> <!-- render if user is logged in -->
    {{else}}
      <a href="/register">Register</a> <!-- render if user is not logged in -->
      <a href="/login">Login</a> <!-- render if user is not logged in -->
    {{/if}}
    <a href="/logout">Logout</a>

    {{#if user.name}}
        <p>Logged in: {{ user.name }}</p>
    {{else}}
        <p>Logged in: none</p>
    {{/if}}

    {{{ body }}}
  </body>
</html>
