<a href="/students/studentLoginView">Search for Teachers</a><br>
<a href="/students/studentRequestView">Sent Requests</a><br>

    {{#each teachers as |teacher|}}
    <ul id="allTeachers">

    <form action ="/students/refer" method="post">
      <li id="list">Name:{{teacher.name}}<br>
                    Subject:{{teacher.subject}}<br>
                    Highest qualifications: {{teacher.education}}<br>
                    Gender:{{teacher.gender}}<br>
                    Description:{{teacher.description}}<br>
                    Expected Fee per Hour: {{teacher.fee}}<br>
        <button name="email" value={{teacher.email}} id="requestButton">Request Session</button>
      </li>
    </form>

    </ul>
    {{/each}}
