<form method='POST' action='/itemSearch'>
  <div class="form-group">
    <label for="Search">Item Search:</label>
    <input type="text" class="form-control" name="search" ">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<h3>Items Found:</h3>
<% let items = itemsList%>

<% if (items.length === 0 ) {%>
No items found, please try another search.
<%} else {%>
<table class="table ">
  <thead class = 'thead thead-inverse'>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Cash Value Estimate</th>
      <th>In Ongoing Trade?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(( item) => { %>
    <tr>
      <td><%= item.name%></td>
      <td><%= item.description%></td>
      <td>
        <img src="<%= item.imagelink%>" alt=<%= item.name%> style="width:10em;height:auto;">
      </td>
      <td><%= item.valuation%></td>
      <td>
        <%
        let itemTradeStatus = "No"
        if ( item._trade )
        if ( item._trade !== null )
        itemTradeStatus = "Yes"
        %>
        <%= itemTradeStatus%>
        <td >
          <div class="btn-group-vertical .btn-group.btn-group-justified" role="group" aria-label="...">
            <button type = "button" class = "btn btn-sm"
            onclick = "window.location.href = 'interface/trade/create<%= item._id%>' ">
            Make An Offer</button>
            <button type = "button" class = "btn btn-sm"
            onclick = "window.location.href = 'interface/item/show/<%= item._id%>' ">
            Details</button>
            <button type = "button" class = "btn btn-sm"
            onclick = "window.location.href = 'interface/item/edit/<%= item._id%>' ">
            Modify</button>
            <form method='POST' action='/interface/item/delete/<%= item._id %>?_method=DELETE'>
              <button type="submit" class="btn btn-sm">Delete</button>
            </form>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <%}%>