<% include ../partials/header %>

<h1>Edit Review Page</h1>

<form action="/review/edit/<%= data._id %>" method="POST">

  <div>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" value="<%= data.title%>">
  </div>

<div>
    <label for="location">Location</label>
    <input id="location" type="text" name="location" value="<%= data.location %>">
  </div>


<div>
    <label for="review">Review</label>
    <textarea id="review" class="materialize-textarea" name="review"><%= data.review %></textarea>
  </div>


<div class="row">
  <div class="input-field col s6">
<select name="quality">
<% for (var i = 0; i <= 5; i++) { %>
  <% if (i == 0) { %>
    <option value="" disabled>Choose your option</option>
  <% } else if (i == data.rating.quality) { %>
    <option value="<%= i %>" selected><%= i %> Star</option>
  <% } else { %>
    <option value="<%= i %>"><%= i %> Star</option>
  <% } } %>
</select>
<label>Quality</label>
</div>
</div>

<div class="row">
  <div class="input-field col s6">
<select name="quantity">
  <% for (var i = 0; i <= 5; i++) { %>
    <% if (i == 0) { %>
      <option value="" disabled>Choose your option</option>
    <% } else if (i == data.rating.quantity) { %>
      <option value="<%= i %>" selected><%= i %> Star</option>
    <% } else { %>
      <option value="<%= i %>"><%= i %> Star</option>
    <% } } %>
</select>
<label>Quantity</label>
</div>
</div>

<div class="row">
  <div class="input-field col s6">
<select name="price">
  <% for (var i = 0; i <= 5; i++) { %>
    <% if (i == 0) { %>
      <option value="" disabled>Choose your option</option>
    <% } else if (i == data.rating.price) { %>
      <option value="<%= i %>" selected><%= i %> Star</option>
    <% } else { %>
      <option value="<%= i %>"><%= i %> Star</option>
    <% } } %>
</select>
<label>Price</label>
</div>
</div>


<button type="submit" class="waves-effect waves-light btn">Save</button>
</form>

<% include ../partials/footer %>
