
<h3>All Components</h3>

  <a class="btn btn-primary" href="/components/new" role="button">Add new component</a>

  <table class="table">
    <thead>
      <tr>
        {{#if user.isAdmin}}
        <th scope="col">Owner</th>
        {{/if}}
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Vendor</th>
        <th scope="col">Type</th>
        <th scope="col">Unit cost</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Cost</th>
        {{#if user.isAdmin}}
          <th scope="col">Total Price</th>
          <th scope="col">Margin</th>
        {{/if}}
        <th scope="col"></th>
      </tr>
    </thead>


    <tbody>
      <tr>
        {{#each components as |compo|}}
        {{#if ../user.isAdmin}}
          <td>{{ compo.owner.name }}</td>
        {{/if}}
        <td>{{ compo.name }}</td>
        <td>{{ compo.description }}</td>
        <td>{{ compo.vendor }}</td>
        <td>{{ compo.type.name }}</td>
        <td>{{ compo.unit_cost }}</td>
        <td>{{ compo.quantity }}</td>
        <td>{{ compo.totalCost }}</td>
        {{#if ../user.isAdmin}}
          <td>{{ compo.totalPrice }}</td>
          <td>{{ compo.type.margin }}%</td>
        {{/if}}
        <td><a href="/components/{{ compo.id }}" class="btn">Edit</a></td>
      </tr>
      {{/each}}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{{sumCost}}</td>
        {{#if user.isAdmin}}
          <td>{{sumPrice}}</td>
          <td>{{sumMargin}}%</td>
        {{/if}}
      </tr>
    </tbody>

</table>
