<h3>Component</h3>
<h3>Update</h3>
<form action="/components/{{ component.id }}?_method=PUT" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{ component.name }}">

  <label for="description">Description</label>
  <input type="text" name="description" value="{{ component.description }}">

  <label for="vendor">Vendor</label>
  <input type="text" name="vendor" value="{{ component.vendor }}">

  <label for="type">Type</label>
    <select name="type">
      <option selected hidden value={{component.type.id}}>{{ component.type.name }}</option>
      <option value="59f1964b4e4d8932d419fdc5">Software</option>
      <option value="59f196774e4d8932d419fdda">Hardware</option>
      <option value="59f196e14e4d8932d419fdfd">Professional Services</option>
      <option value ="59f197124e4d8932d419fe0f">Third Party Services</option>
    </select>

    <label for="unit_cost">Unit cost</label>
    <input type="number" name="unit_cost" value="{{ component.unit_cost }}">

    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" value="{{ component.quantity }}">

  <button type="submit" name="button">Submit</button>
</form>

<h3>Delete</h3>
{{!-- Same thing, different request type --}}
<form action="/components/{{ component.id }}?_method=DELETE" method="post">
  <button type="submit" name="button">Delete</button>
  {{!-- don't need input fields here, cos we're not updating anything --}}
</form>
