<h2>Post your listings here</h2>
<form action="/listings" method="POST" >
  <div class="form-group">
    <label for="listings">Photo upload:</label>
    <input type="hidden" role="uploadcare-uploader" name="image" />
  </div>

  <div class="title">
    <label for="Title">Title:</label>
    <input type="text" name="title" required>
  </div>
  <div class="form-group">
  <label for="Description">Description:</label>
  <textarea class="form-control" name="description" rows="3" required></textarea>
  <button type="submit" name="button">Submit</button>
</div>
</form>

<h2>All listings</h2>
<div class="row equal">
  {{#each listings as |listo|}}
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ listo.description }}</h4>
        <p class="card-text">
          <div class="text-center">
            <img src="{{listo.photos}}" class="img-thumbnail" width="100px" max-height="100px">
          </div>
          {{ listo.title }}
        </p>
      </div>
      {{#if listo.dealt}}
      <div class="alert alert-warning" role="alert">
      DEAL IS CLOSED
      </div>
      <a href="listings/requests/{{listo._id}}" data-id = "{{listo.author}}" class="btn btn-primary btn-lg btn-dark disabled" role="button">Request trade!</a>
      {{else}}
      <a href="listings/requests/{{listo._id}}" data-id = "{{listo.author}}" class="btn btn-primary btn-lg btn-dark" role="button">Request trade!</a>
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>
