<div class="container-fluid jumbotron">
  <h1>All Products Listed</h1>
  <h5>There are <%=items.length%> products listed.</h5>
</div>

<form class="form-horizontal" action="/products/catalogue/search" method="GET">
  <div class="form-group">
    <label class="col-lg-2 control-label">Search by Product Name: </label>
    <div class="col-lg-8">
      <input type="text" class="form-control" name="productname" placeholder="Must be more than 3 characters" type="submit">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">User Area: </label>
    <div class="col-lg-8">
      <select name="buyerarea">
        <% for (var i = 0; i < locationlist.length; i++) { %>
          <option value="<%=locationlist[i].districts%>"><%=  locationlist[i].districts%></option>
          <% } %>
        </select>
        <button type="submit" class"btn btn-primary btn-xs">Submit Search</button>
      </div>
    </div>

  </form>

  <div class="container">
    <% items.forEach(function(item) { %>
      <div>
      <div class="thumbnail">
      <div class="caption">
      <h3><a href="/products/<%=item._id%>"><%= item.productname %></a></h3>
      <h6> URL: <a href="<%=item.linkforproduct%>">Click to see product in external website</a></h6>
      <h6> Respond By: <%= item.respondby %></h6>
      <% if (item.creator.equals(currentUser._id)) { %>
        <a href="/products/<%= item._id %>/edit" class="btn btn-default" role="button">Edit</a>
        <a href="/products/<%= item._id %>" class="btn btn-default" role="button">Delete</a>
        <% } %>
        </div>
        </div>
        </div>
        <% }) %>
      </div>
