<div class="container-fluid jumbotron">
  <h1>All Products Listed</h1>
  <h5>There are <%=items.length%> products listed.</h5>
</div>

<div class="container">
  <% items.forEach(function(item) { %>
    <div>
    <div class="thumbnail">
    <div class="caption">
    <h3><a href="/products/<%=item._id%>"><%= item.productname %></a></h3>
    <h6> URL: <a href="<%=item.linkforproduct%>">Click to see product in external website</a></h6>
    <h6> Respond By: <%= item.respondby %></h6>
    <% if (item.creator.equals(currentUser._id)) { %>
    <a href="/products/<%= item._id %>/edit" class="btn btn-default" role="button">Edit</a>
    <a href="/products/<%= item._id %>" class="btn btn-default" role="button">Delete</a>
    <% } %>
    </div>
    </div>
    </div>
    <% }) %>
  </div>
