

<div class="customerBox">
  <p>Unique ID: <span class="custInfo">{{ _id }}</span></p>
  <p>Full Name: <span class="custInfo">{{ firstName}} {{ lastName}}</span></p>
  <p>Room Number: <span class="custInfo">{{ roomNumber}}</span></p>
  <p>4-digit Passcode: <span class="custInfo">{{ passcode }}</span></p>
  <p>Trip Date: <span class="custInfo">{{ tripStart }} - {{ tripEnd }}</span></p>
  <a href="#">List of Purchases</a>

</div>
<span>
