<div class="container">
  <div class="row">
    <h4 class="ml-3 mt-2">Hi, <%= currentUser.name %></h4>
  </div>
  <div class="row mt-3">
    <% if (currentUser.role === "teacher") { %>
    <div class="col-md-4">
      <h3>Your classes </h3>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <% classrooms.forEach(function (classroom) { %>
        <div class="card">
          <div class="card-header" data-toggle="collapse" role="tab" id="headingOne" data-parent="#accordion" data-target="#<%= classroom._id %>" aria-expanded="false" aria-controls="<%= classroom._id %>">
            <div class="row">
              <div class="col-8">
                <h5 class="mb-0"><%= classroom.name %></h5>
              </div>
              <div class="col-4">
                <% let totalHours = 0, allAssignments = classroom.assignments, current = Date.now() %>
                <% for (let i = 0; i < allAssignments.length; i++) { %>
                  <% if (allAssignments[i].due_date > current) { totalHours += allAssignments[i].est_time } }%>
                <span class="badge badge-success"><%= totalHours %> hrs</span>
              </div>
            </div>
          </div>
          <div id="<%= classroom._id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <div class="row">
                <h6>Active assignments given to the class: </h6>
              </div>
              <% allAssignments.forEach(function (assignment) { %>
                <% if  (assignment.due_date > current) { %>
                  <div class="row">
                    <% if (assignment.created_by.toString() === currentUser._id.toString()) { %>
                    <div class="col-8 text-primary" id="assign"><%= assignment.title %></div>
                    <div class="col-4 text-primary" id="assign"><%= assignment.est_time %> hr</div>
                    <% } else {%>
                    <div class="col-8" id="assign"><%= assignment.title %></div>
                    <div class="col-4" id="assign"><%= assignment.est_time %> hr</div>
                    <% } %>
                  </div>
              <% } })%>
            </div>
          </div>
        </div>
        <%}) %>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="mt-4">Your assignments</h3>
      <div class="col-sm-12">
        <table class="table table-responsive">
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Due Date</th>
                  <th>Est Time to Complete</th>
                  <th>Class</th>
                </tr>
              </thead>
              <tbody>
                <% assignments.forEach(function (elem) { %>
                <tr>
                  <form method="POST">
                  <td><input type="checkbox" name="id" value="<%= elem._id %>"> </td>
                  <td> <%= elem.title %>
                    <% let targetDate = Date.now() %>
                    <% if (elem.due_date < targetDate) { %>
                      <span class="badge badge-danger">Expired!</span>
                      <% } %>
                  </td>
                  <td><%= elem.description %> </td>
                  <td><%= elem.due_date.toDateString() %></td>
                  <td><%= elem.est_time %>hrs</td>
                  <td><%= elem.classroom.name %></td>
                </tr>
                  <% }) %>
                <tr>
                  <td colspan="6">
                    <input type="submit" formaction="" class="btn btn-outline-success" value="Edit"></a>
                    <input type="submit" formaction="/assignment?_method=DELETE" class="btn btn-outline-danger" value="Delete">
                </td>
                </tr>
              </tbody>
              </form>
            </table>
      </div>
    </div>
  </div>


  <% } else if (currentUser.role === "student") {  %>



  <% } %>

</div>
