<div class="container">


<h2>Hi, <%= currentUser.name %></h2>




  <div class="row">
  <div class="col-md-2">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="index"> Dashboard</a>
      </li>
      <li class="list-group-item">
        <a href="/profile/<%= currentUser._id %>"> Profile </a>
      </li>
      <% if (currentUser.role === "teacher") { %>
      <li class="list-group-item">
        <a href="/classroom">Add/Join Classes </a>
      </li>
      <li class="list-group-item">
        <a href="/assignment/create">Add Assignments </a>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <div class="content-box-header">
              <div class="panel-title">Your Assignments: </div>
            </div>
            <div class="content-box-large box-with-header">
              <div class="table-responsive">
                <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Due Date</th>
                          <th>Est Time to Complete</th>
                          <th>Class</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% assignments.forEach(function (elem) { %>
                        <tr>
                          <form action="/assignment/:id/delete?_method=DELETE" method="POST">
                          <td><input type="checkbox" name="id" value="<%= elem._id %>"> </td>
                          <td> <%= elem.title %> </td>
                          <td><%= elem.description %> </td>
                          <td><%= elem.due_date.toString().substring(0, 15) %></td>
                          <td><%= elem.classroom %></td>
                          <td><%= elem.classroom %></td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                    <input class="col-sm-4 btn btn-primary" type="submit" value="Remove Assignment">
                    <input class="col-sm-4 btn btn-primary" type="submit" value="Update Assignment" style="display:none">
                </form>
              </div>
            <br /><br />
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <% } else if (currentUser.role === "student") {  %>

    <div class="page-content">
      <div class="row">
      <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="index"> Dashboard</a></li>
                    <li><a href="/profile/view/:id"> Profile </a></li>
                    <li><a href="/auth/logout">Log Out</a></li>
             </div>
      </div>

      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <div class="content-box-large">
              <div class="panel-heading">
              <% if (user.classrooms === null) { %>
              <div class="panel-title">Please join a class: </div>
              <% } else {%>
                <div class="panel-title">Please join a class: </div>
              <% } %>
              </div>
              <div class="panel-body">

              </div>

    <% } %>

</div>
