<div class="container">
<h1>Dashboard for <%= currentUser.name %> </h1>
<% classroomArray = user[0].classrooms %>
<% console.log("the classroomArray is " + classroomArray) %>
<% if (currentUser.role === "teacher") { %>

  <nav class="navbar fixed-top navbar-light bg-faded">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/classroom/addclass">Add/Join Classroom</a></li>
      <li class="active"><a href="/assignment/create">Create Assignment</a></li>
      <li class="active"><a href="/logout">Log Out</a></li>
    </ul>
  </div>
  </nav>

  <h3>View your classes: </h3>

       <ul class="list-inline col-sm-12">

       <% classroomArray.forEach(function(elem) { %>
        <form action="/classBulletin/:id" method="GET">
         <li class="list-group-item col-sm-2"> 
           <%= elem.name %>
         </li>
       </form>
       <% }) %>

       </ul>

  <h3>View your assignments</h3>

  <div class="content-box-large">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Due Date</th>
                  <th>Class</th>
                </tr>
              </thead>
              <tbody>
                <% assignments.forEach(function (elem) { %>
                <tr>
                  <form action="/assignment/remove/:id?_method=DELETE" method="POST">
                  <td><input type="checkbox" name="id" value="<%= elem._id %>"> </td>
                  <td> <%= elem.title %> </td>
                  <td><%= elem.description %> </td>
                  <td><%= elem.due_date %></td>
                  <td><%= elem.classroom %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          <input class="col-sm-2 btn btn-primary" type="submit" value="Remove Assignment">
          <input class="col-sm-2 btn btn-primary" type="submit" value="Update Assignment">
        </form>


      </div>
    </div>
  </div>

  <% } else if (currentUser.role === "student") {  %>

    nav class="navbar fixed-top navbar-light bg-faded">
      <div class="container">
      <ul class="navbar-nav">
        <li class="active">Post Questions</li>
        <li class="active">Book Consultation</li>
      </ul>
    </div>
    </nav>

    <% } %>

</div>
