{{!-- <form action="/" method="post"> --}}
{{!-- <form action="/geo" method="post">  --}}
<button type="submit" name="getGeo" id="getGeo">Get my location</button>{{!-- </form> --}}

<div class="stopsNearby">

</div>
{{!-- {{#each nearest}}
  {{this.road}}
{{/each}} --}}
{{!-- {{> stopspartial }} --}}

{{!-- <div class="">
  {{#each arr}}
    {{this}}
  {{/each}}
</div>

<div class="">
  {{{town}}}
</div> --}}


  {{!-- {{nearest[0].stopCode}} --}}
  {{!-- {{#each nearest as |stop|}}
    {{stop.stopCode}}
  {{/each}} --}}

  {{!-- {{myLoc}}
  {{#each nearest}}
    {{this.road}}
  {{/each}}

 --}}
