<h2>Home</h2>

<div class="">
  <h4>Woodcraft</h4>
  <ul>
    {{#each woodcraftPatterns as |woodcraftPattern|}}
    <div class="">
      <a href="/pattern/{{woodcraftPattern.id}}">
        <img src="{{woodcraftPattern.imageUrl}}" width=250 alt="Image">
        {{woodcraftPattern.title}}
      </a>
    </div>

    {{/each}}

  </ul>

</div>

<div class="">
  <h4>Papercraft</h4>
  <ul>

    {{#each papercraftPatterns as |papercraftPattern|}}
    <div class="">
      <a href="/pattern/{{papercraftPattern.id}}">
        <img src="{{papercraftPattern.imageUrl}}" width=250 alt="Image">
        {{woodcraftPattern.title}}
      </a>
    </div>
    {{/each}}

  </ul>

</div>

<div class="">
  <h4>Sewing</h4>
  <ul>
    {{#each sewingPatterns as |sewingPattern|}}
    <div class="">
      <a href="/pattern/{{sewingPattern.id}}">
        <img src="{{sewingPattern.imageUrl}}" width=250 alt="Image">
        {{woodcraftPattern.title}}
      </a>
    </div>
    {{/each}}
  </ul>

</div>
