<div class="container mainCont">

  <div class="leftCont">
    <div class="leftTitles">
      Items List
    </div>

    <div class="leftView">
      {{#if success_msg}}
        <div class="alert alert-success"> {{ success_msg }} </div>
      {{/if}}

        {{#each items}}
          <div class="itemBox">
            <img src="/style/img/placeholder.png">
            <p>{{ name }}</p>
            <p>SGD${{ price}}</p>
            <button type="submit" class="btn btn-default addOrderBtn" data-name="{{ name }}" data-price="{{ price }}" data-id="{{ _id }}">Add To Cart</button>
          </div>
        {{/each}}

    </div>
  </div>

  <div class="rightCont">
    <div class="rightTitles">
      Add New Order
    </div>
    <div class="rightView">
      <form class ="rightViewForm" action="/order" method="post">

        <!-- Customer Dropdown -->
        <div class="custSelectDropdownDiv">
          <select id="custSelectDropdown">
            {{#each customers}}
              <option placeholder="hello" value="{{ _id }}">{{ firstName }} {{ lastName }}</option>
            {{/each}}
            </select>
        </div>

        <!-- Item Div -->
        <div class="itemList">
        </div>

        <input type="submit" name="Place Order" id="mainOrderBtn">
        <!-- <input class="addQuantity" type="number" value="1" min="0"> -->
      </form>
    </div>
  </div>
