<br>
<strong>Positions Taken </strong>
<br>
<form action="/positions/new" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="">

  <label for="ticker">Ticker Symbol</label>
  <input type="text" name="ticker" placeholder="">

  <label for="units">Unit Quantity</label>
  <input type="number" name="units" placeholder="">

  <label for="price">Price</label>
  <input type="text" name="price" placeholder="USD">

  <label for="buyDate">Buy Date</label>
  <input type="date" name="buyDate" placeholder="dd/mm/yyyy">




  <br>



  <br>
  <label for="closingPrice">Closing price</label>
  <input type="text" name="closingPrice" placeholder="USD">

  <button type="submit"  name="button">Buy</button>

</form>


<table class = 'positiontable'>
 
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Buy date</th>
      <th>Sell date </th>
      <th>Units owned</th>
      <th>Price</th>
      <th>Amount Earned (Lost) <br> (USD)</th>
      <th>Closing Price</th>
      <th>Current Price <br> (USD)</th>

    </tr>

  </thead>

{{#each position}}
  <tbody class='positiontable'>
    <tr>
      <td>{{ name }}</td>
      <td>{{ ticker }}</td>
      <td>{{ buyDate }}</td>
      <td>{{ sellDate }}</td>

      <td>{{ units }}</td>
      <td>{{ price }}</td>
      <td>{{ amountEarned }}</td>
      <td>{{ closingPrice }}</td>

      <td>{{ currentPrice }}</td>
      <td>

        <!-- <form
          class="deleteForm"
          action="/positions/{{ _id }}?_method=PUT"
          method="delete"
        > -->
          <!-- <a href="/positions/remove?id={{_id}}" class="btn btn-primary">Sell</a> -->
          <a href="/positions/{{_id}}" class="btn btn-primary">Sell</a>

          <br>
          <input type="hidden" name="posiId" value="{{id}}">

        <!-- </form> -->

        <!-- <form
            class="deleteForm"
            action="/positions/{{ _id }}?_method=PUT"
            method="post"
          >
            <a href="/update/{{ _id }}" class="btn btn-primary">Sell</a>



            <br>
            <input type="hidden" name="posiId" value="{{id}}">

          </form> -->
              </td>

    </tr>
  </tbody>
  {{/each}}


    <tr>

      <th>Total Value</th>
     
    </tr>
 

</table>

<a href="/summary">Portfolio Summary</a>
