<div class="jumbotron container">
  <h1><%=data.productname%></h1>
</div>
<div class="container">
   <table class = "table">
      <tbody>
         <tr>
            <td><label>Creator</label></td>
            <td><%=data.creator.name%></td>
         </tr>

         <tr>
            <td><label>URL: </label></td>
            <td><%= data.linkforproduct %></td>
         </tr>

         <tr>
            <td><label>Price: </label></td>
            <td> $ <%= data.price %></td>
         </tr>

         <tr>
            <td><label>Description: </label></td>
            <td><%= data.description %></td>
         </tr>

         <tr>
            <td><label>Area I Live In: </label></td>
            <td><%= data.buyerarea %></td>
         </tr>

         <tr>
            <td><label>Date Created: </label></td>
            <td><%= data.productdatecreated %></td>
         </tr>

         <tr>
            <td><label>Respond By: </label></td>
            <td><%= data.respondby %></td>
         </tr>
      </tbody>
   </table>
</div>
<p></p>
<div class="container ">
  <div class="input-group-btn">
    <form class="form-inline" method="POST" action=<%= "/products/" + data._id + "?_method=DELETE" %>>
      <input type="hidden" name="_id" value="<%= data._id %>">
      <input class="btn btn-default" type="submit" value="Delete">
    </form>
  </div>
  <div class="input-group-btn">
    <form class="form-inline" method="GET" action="/products/<%= data._id %>/edit">
      <input type="hidden" name="_id" value="<%= data._id %>">
      <input class="btn btn-default" type="submit" value="Edit">
    </form>
  </div>
  <div class="input-group-btn">
    <form action="/products/">
      <input class="btn btn-default" type="submit" value="Go to Profile">
    </form>
  </div>
</div>
</div>
<p></p>
