<!--<h3><%= data %></h3>
<h3><%= username %></h3>-->
<div class='container'>
  <div class='text-center'>
    <h1>Welcome back <%=username%></h1>
    <br />
    <img class='avatar' src='data:image/jpeg;base64,<%=binaryImage%>'/>
  </div>
  <blockquote class='blockquote-reverse'>
    <p><%= data.description %></p>
  </blockquote>
  <a class="btn btn-block btn-default" href="/dashboard/profile/edit">Edit your profile!</a>
</div>
