<div class="clearfix">
  <h1>welcome back, <%= locals.user.firstName.toLowerCase() %>!</h1>
  <h2><span class="label label-like pull-left" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> create a playlist</span></h2>
</div>
<hr>
<% if (playlists.length === 0) { -%>
  <h2>you have not made any playlists. go make some!</h2>
<% } else { -%>
  <h2>these are your created playlists:</h2>
<% } -%>
<div class="row">
<% playlists.sort((a,b) => b.tracks.length - a.tracks.length).forEach(e => { %>
<a href="<%= '/playlists/'+e._id %>">
  <div class="col-md-4 playlist-panel">
    <h1><%= e.name %></h1>
    <hr>
    <p>by <%= e.creator.name %></p>
    <p class="tiny pull-right"><%= e.tracks.length %> tracks from <%= e.collaborators.length %> collaborators</p>
  </div>
</a>
<% }) %>
</div>
<hr>
<% if (likedPlaylists.length === 0) { -%>
  <h2>you have no liked playlists. go like some!</h2>
<% } else { -%>
  <h2>these are your liked playlists:</h2>
<% } -%>
<% likedPlaylists.forEach(e => { %>
<div class="row">
<a href="<%= '/playlists/'+e._id %>">
  <div class="col-md-4 playlist-panel">
    <h1><%= e.name %></h1>
    <hr>
    <p>by <%= e.creator.name %></p>
    <p class="tiny pull-right"><%= e.tracks.length %> tracks from <%= e.collaborators.length %> collaborators</p>
  </div>
</a>
<% }) %>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content clearfix">
        <h1>give birth to greatness.</h1>
        <hr>
        <form action="/playlists/create" method="post" accept-charset="utf-8">
          <label for="name">What's it going to be called?</label>
          <div class="form-group">
            <input type="text" class="form-control" name="name" id="name">
          </div>
          <button type="submit" class="btn btn-primary pull-right">Make my playlist!</button>
        </form>
    </div>
  </div>
</div>