<h1>welcome back, <%= locals.user.firstName.toLowerCase() %>!</h1>
<h1>these are your playlists.</h1>
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">create a playlist</button>
<!-- <a href="/playlists/create"><button class="btn btn-primary">create a playlist</button></a> -->
<hr>
<% playlists.sort((a,b) => b.tracks.length - a.tracks.length).forEach(e => { %>
<a href="<%= '/playlists/'+e._id %>">
  <div class="col-md-4 playlist-panel">
    <h1><%= e.name %></h1>
    <hr>
    <p>by <%= e.creator.name %></p>
    <p class="tiny pull-right"><%= e.tracks.length %> tracks from <%= e.collaborators.length %> collaborators</p>
  </div>
</a>
<% }) %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content clearfix">
        <h1>give birth to greatness.</h1>
        <hr>
        <form action="/playlists/create" method="post" accept-charset="utf-8">
          <label for="name">What's it going to be called?</label>
          <div class="form-group">
            <input type="text" class="form-control" name="name" id="name">
          </div>
          <button type="submit" class="btn btn-primary pull-right">Make my playlist!</button>
        </form>
    </div>
  </div>
</div>