<div class="tabs">
  <ul>
    <li class="analyze is-active"><a>Analyzed Results</a></li>
    <li class="search"><a>Search Results</a></li>
  </ul>
</div>

<div class="analyzedresult-container">
  <div class="result-title is-size-3">
    {{search}}
  </div>

  <div class="grid-container">
    {{#each analyzedList}}
      <div>
        {{#each sortedList}}
          <p>{{name}}</p>
          <p>{{address1}}</p>
          <p>{{address2}}</p>
          <br>
        {{/each}}
        {{range}}
      </div>
    {{/each}}
  </div>
</div>

<div class="searchresult-container">
  {{#each searchList}}
    <div class="result-title is-size-3">
      {{indivItem}}
    </div>

    <div class="grid-container">
      {{#each indivResult}}
        <div>
          <a href={{link}}><p>{{name}}</p></a>
          <p>{{address1}}</p>
          <p>{{address2}}</p>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
