{{#each list}}
  <div class="result-container">
    <div class="result-title is-size-3">
      {{item}}
    </div>

    <div class="grid-container">
      {{#each result}}
        <div>
          <a href={{link}}><p>{{name}}</p></a>
          <p>{{address1}}</p>
          <p>{{address2}}</p>
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
