<h2>{{ position.name }} <small>({{ position.ticker }})</small></h2>



{{!-- We can also setup a form here to update the existing data --}}
{{!-- when there's a path, there's a route in your index.js --}}
{{!-- why PUT, because all update technically MUST go thru PUT request --}}
<h3>Update</h3>
<form action="/portfolio/{{ position.id }}?_method=PUT" method="post">

  <input type="hidden" name="assetClass" value="{{ position.assetClass }}">
  <input type="hidden" name="sellDate" value="{{ position.sellDate }}">

  <label for="closingPrice">Closing Price</label>
  <input type="number" name="closingPrice" value="{{ position.closingPrice }}">
  {{!-- we put the {{}} inside value cos we want to show the existing name --}}

  <button type="submit" name="button">Submit</button>
</form>

<h3>Sell</h3>
<form action="/portfolio/{{ position.id }}?_method=PUT" method="post">

  <input type="hidden" name="closingPrice" value="{{ position.closingPrice }}">

  <label for="name">Name</label>
  <input type="text" name="name" value="{{ position.name }}">
  {{!-- we put the {{}} inside value cos we want to show the existing name --}}

  <label for="assetClass">Transfer to</label>
  <input type="text" name="assetClass" value="Cash">

  <label for="sellDate">Sell Date</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="date" name="position[sellDate]" placeholder="">

  <button type="submit" name="button">Submit</button>
</form>
