<h2>{{ data.name }} <small>({{ data.ticker }})</small></h2>
<h2>USD${{ data.closingPrice}}</h2>

<h3>Update</h3>
<form action="/positions/{{ id }}?_method=PUT" method="post">

  <input type="hidden" name="sellDate" value="{{ sellDate }}">

  <label for="closingPrice">Closing Price</label>
  <input type="number" name="closingPrice" value="{{ closingPrice }}">

  <button type="submit" name="button">Submit</button>
</form>

<h3>Sell</h3>
<form action="/portfolio/{{ id }}?_method=PUT" method="post">

  <input type="hidden" name="closingPrice" value="{{ closingPrice }}">

  <label for="name">Name</label>
  <input type="text" name="name" value="{{ name }}">

  <label for="assetClass">Transfer to</label>
  <input type="text" name="assetClass" value="Cash">

  <label for="sellDate">Sell Date</label>

  <input type="date" name="position[sellDate]" placeholder="">

  <button type="submit" name="button">Submit</button>
</form>
