<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel='stylesheet' href='/style.css' type='text/css'>
  <style>
    #map {
      height: 400px;
      width: 100%;
     }
  </style>
  <title>View</title>
</head>
<body>
  <h2>View</h2>
  <% var body = body;
  var stop= stop
  var busStop=busStop
  console.log(busStop)
  var lat=body.Services[0].NextBus.Latitude
  var lng = body.Services[0].NextBus.Longitude
  var lat_next = body.Services[0].SubsequentBus.Latitude
  var lng_next = body.Services[0].SubsequentBus.Longitude
  var lat_stop = busStop[0].Latitude
  var lng_stop = busStop[0].Longitude

  var time = body.Services[0].NextBus.EstimatedArrival.split('T')
  var t=time[1]
  var t1=t.split('+')
  var time_bus = t1[0]
  var time2 = body.Services[0].SubsequentBus.EstimatedArrival.split('T')
  var t2=time2[1]
  var t3=t2.split('+')
  var time_bus2 = t3[0] %>
  <div>
    <table class="bordered striped">
      <tr class="red lighten-2 white-text">
        <th >Bus No</th>
        <td><%=body.Services[0].ServiceNo %></td>
        <th>Bus Stop</th>
        <td><%=busStop[0].Description %></td>
        <th>Road Name</th>
        <td><%=busStop[0].RoadName %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Next bus</th>
        <td><%=time_bus%></td>
        <% if(body.Services[0].NextBus.Load==='Standing Available'){%>
          <td class="amber"><%=body.Services[0].NextBus.Load%></td>
        <%}
        else if(body.Services[0].NextBus.Load==='Seats Available'){%>
          <td class="light-green"><%=body.Services[0].NextBus.Load%></td>
        <%}
        else if(body.Services[0].NextBus.Load==='Limited Standing'){%>
          <td class="red accent-2"><%=body.Services[0].NextBus.Load%></td>
        <%}%>
        <th>Time remaining</th>
        <% var time2= time_bus.split(':')
        var hours= parseInt(time2[0])
        var minutes=parseInt(time2[1])
        var seconds=parseInt(time2[2])
        var convert = (hours*60*60) +(minutes*60) + seconds

        var timeNow = new Date()
        var hourNow = timeNow.getHours()
        var minuteNow = timeNow.getMinutes()
        var secondNow = timeNow.getSeconds()
        var convert1 = (hourNow*60*60)+ (minuteNow*60)+secondNow
        var diff= convert-convert1-28800
        var timeRem = Math.round(diff/60)
        console.log(timeRem)
        if(timeRem>=0){%>
        <td><%= timeRem %> mins</td>
        <%}
        else{%>
          <td>0</td>
        <%}%>
      </tr>
      <tr>
        <th>Subsequent bus</th>
        <td><%= time_bus2%></td>
        <% if(body.Services[0].SubsequentBus.Load==='Standing Available'){%>
          <td class="amber"><%=body.Services[0].SubsequentBus.Load%></td>
        <%}
        else if(body.Services[0].SubsequentBus.Load==='Seats Available'){%>
          <td class="light-green"><%=body.Services[0].SubsequentBus.Load%></td>
        <%}
        else if(body.Services[0].SubsequentBus.Load==='Limited Standing'){%>
          <td class="red accent-2"><%=body.Services[0].SubsequentBus.Load%></td>
        <%}%>

        <th>Time remaining</th>
        <% var time3= time_bus2.split(':')
        var hours1= parseInt(time3[0])
        var minutes1=parseInt(time3[1])
        var seconds1=parseInt(time3[2])
        var convertSub = (hours1*60*60) +(minutes1*60) + seconds1
        var diff1= convertSub-convert1-28800
        var timeRemSub = Math.round(diff1/60)
        if(timeRemSub>=0){%>
        <td><%= timeRemSub %> mins</td>
        <%}
        else{%>
          <td>0</td>
        <%}%>
      </tr>
    </table>
</div>
<br><br>
<div id="map"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script>
  function initMap() {
    console.log("entered map")
    var uluru = {lat: 1.29770970610083, lng: 103.8532247463225};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: uluru
    });
    var infoWindow = new google.maps.InfoWindow({map: map});


    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var marker = new google.maps.Marker({
            position: pos,
            map: map
          });

          infoWindow.setPosition(pos_stop);
          infoWindow.setContent('Bus Stop');
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
      var pos_bus={
        lat: <%=lat%>,
        lng: <%=lng%>
      }
      var marker = new google.maps.Marker({
        position: pos_bus,
        icon: 'https://maps.google.com/mapfiles/kml/shapes/bus.png',
        map: map
      });
      var pos_bus_next={
        lat: <%=lat_next%>,
        lng: <%=lng_next%>
      }
      var marker = new google.maps.Marker({
        position: pos_bus_next,
        icon: 'https://maps.google.com/mapfiles/kml/shapes/bus.png',
        map: map
      });
      var pos_stop={
        lat: <%=lat_stop%>,
        lng: <%=lng_stop%>
      }
      var marker = new google.maps.Marker({
        position: pos_stop,
        icon:{
          url: 'http://www.clker.com/cliparts/7/2/1/2/12065726361995773958johnny_automatic_NPS_map_pictographs_part_11.svg.med.png',
          scaledSize: new google.maps.Size(50, 50)
        },
        map: map
      });

    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
    }



</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZh7bBOpiYXBvgi3du1jt0n5fmJuQyC9M&callback=initMap">
</script>
</body>
</html>
