<section class="section">
    <div class="container">
        <div class="content">
            <p class="text">{{json.query}}</p>
            <p id="hexagram" class="text">{{json.hexagram.original.number}}</p>
            <p id="hexagram" class="text">{{json.hexagram.original.name.english}}</p>
            <p id="hexagram" class="text">{{json.hexagram.resultant.number}}</p>
            <p id="hexagram" class="text">{{json.hexagram.resultant.name.english}}</p>
            <p id="result" class="text"></p>
        </div>
    </div>
</section>


<!-- Load jQuery from CDN -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!-- Record Logic Controller -->
<script type="text/javascript" src="/javascripts/result.js"></script>
