{{#each threads}}
<div class="card-panel hoverable">
<table>
  <tr>
    <td><div class="buttons" align="center">
    <button class="up waves-effect waves-teal btn-flat" data={{this._id}} upvotes = {{this.upVotes}}><i class="material-icons">expand_less</i></button>
    <p id={{this._id}}>{{this.totalVotes}}</p>
    <button class="down waves-effect waves-teal btn-flat" data={{this._id}} downvotes = {{this.downVotes}}><i class="material-icons">expand_more</i></button>
    </div></td>
    <td><a href="/thread/{{this.id}}">{{this.question}}</a></td>
  </tr>
</table>
</div>
{{/each}}
