{{#each threads}}
<div class="card-panel hoverable">
<table>
  <tr>
    <td><div class="buttons">
    <button class="up" data={{this._id}} upvotes = {{this.upVotes}}>Upvote</button>
    <p id={{this._id}} >{{this.totalVotes}}</p>
    <button class="down" data={{this._id}} downvotes = {{this.downVotes}}>Downvote</button>
    </div></td>
    <td><a href="/thread/{{this.id}}">{{this.question}}</a></td>
  </tr>
</table>
</div>
{{/each}}
