
<h2>{{ userDetails.name }}</h2>
<img src="{{userDetails.imageUrl}}" width=300 alt="Image">
<div class="">
  <ul>
    <li>{{ userDetails.email }}</li>
    {{!-- <li>{{ user.preferences }}</li>
    <li>{{ user.level }}</li> --}}
  </ul>


</div>

<div class="">
  <h3>Pattern</h3>
  <div class="">
    {{#each patterns as |pattern| }}
    <a href="/pattern/{{ pattern.id }}" class="">
      <h5>{{ pattern.title }}</h5>
      <img src="{{pattern.imageUrl}}" width=150 alt="Image">
    </a>
    {{/each}}
  </div>



<div class="">
  <h3>Project</h3>

  <div class="">
    {{#each projects as |project| }}
    <a href="/project/{{ project.id }}" class="">
      <h5>{{ project.title }} </h5>
      <img src="{{project.imageUrl}}" width=150 alt="Image">
    </a>
    {{/each}}
  </div>
</div>
