<h2>{{ user.name }}</h2>
<div class="">
  <ul>
    <li>{{ user.email }}</li>
    {{!-- <li>{{ user.preferences }}</li>
    <li>{{ user.level }}</li> --}}
  </ul>



</div>
<div class="">
  <h3>Pattern</h3>

  {{!-- <h4>{{user.pattern}}</h4> --}}

  {{!-- {{#with pattern as |pattern|}}
  {{!-- //{{#each userPattern as |pattern|}} --}}
  {{!-- <div class="">
  <h4>{{ pattern.name }}</h4>
  <h4>{{ pattern.category}}</h4>
  <h5>{{ pattern.created}} </h5>
  <p>
  {{ pattern.material}}
  {{ pattern.steps}}
</p>
</div> --}}
{{!-- {{/each}} --}}

{{!-- {{/with}} --}}

</div>
