
<h2>{{ user.name }}</h2>
<div class="">
  <ul>
    <li>{{ user.email }}</li>
    {{!-- <li>{{ user.preferences }}</li>
    <li>{{ user.level }}</li> --}}
  </ul>

<div class="">
  <button type="button" name="button"><a href="/profile/edit">Edit</a></button>
</div>

</div>
<div class="">
  <form class="" action="/profile?_method=DELETE" method="post">
      <button type="submit" name="button">Delete Account</button>
  </form>
</div>
<div class="">
  <h3>Pattern</h3>
  <ul>
    {{#each user.pattern as |pattern| }}
    <li>
      {{ pattern.title }} <a href="/pattern/{{ pattern.id }}" class="">View</a>
    </li>
    {{/each}}

  </ul>
</div>

<div class="">
  <h3>Bookmark</h3>
  {{!-- <h4>{{user.bookmark}}</h4> --}}
  <ul>
    {{#each user.bookmark as |bookmark| }}
    <li>
      {{ bookmark.title }}
      <a href="/pattern/{{ bookmark.id }}" class="">View</a>

    </li>
    {{/each}}

  </ul>
</div>

<div class="">
  <h3>Project</h3>
  {{!-- <h4>{{user.project}}</h4> --}}
  <ul>
    {{#each user.project as |project| }}
    <li>
      {{ project.title }}
      {{!-- <a href="/pattern/{{ project.id }}" class="">View</a> --}}

    </li>
    {{/each}}

  </ul>
</div>
