
<h2>{{ user.name }}</h2>
<img src="{{user.imageUrl}}" width=250 alt="Image">
<div class="">
  <ul>
    <li>{{ user.email }}</li>
    {{!-- <li>{{ user.preferences }}</li>
    <li>{{ user.level }}</li> --}}
  </ul>
<div class="">
  <button type="button" name="button"><a href="/profile/edit">Edit</a></button>
</div>

</div>
<div class="">
  <form class="" action="/profile?_method=DELETE" method="post">
      <button type="submit" name="button">Delete Account</button>
  </form>
</div>
<div class="">
  <h3>Pattern</h3>
  <div class="">
    {{#each patterns as |pattern| }}
    <a href="/pattern/{{ pattern.id }}" class="">
      <h5>
        {{ pattern.title }}
      </h5>
      <img src="{{pattern.imageUrl}}" width=250 alt="Image">

    </a>
    {{/each}}

  </div>


</div>

<div class="">
  <h3>Bookmark</h3>

  <div class="">
    {{#each user.bookmark as |bookmark| }}
    <a href="/pattern/{{ bookmark.id }}" class="">
      <h5> {{ bookmark.title }}</h5>
      <img src="{{bookmark.imageUrl}}" width=250 alt="Image">
    </a>
    {{/each}}
  </div>


</div>


<div class="">
  <h3>Projects</h3>
  {{!-- <h4>{{user.project}}</h4> --}}
  <div class="">
    {{#each projects as |project| }}
    <a href="/project/{{ project.id }}" class="">
      <h5>
        {{ project.title }}
      </h5>
      <img src="{{project.imageUrl}}" width=250 alt="Image">
    </a>

    {{/each}}

  </div>

  </ul>
</div>
