

<div class="profile">
  <img class="materialboxed " src={{profile.pic}} alt="Profile Picture"><p>
  <h5>Name:<h5> <label>{{profile.name}}</label>
  <h5>Email:<h5><label> {{profile.email}}</label>
  <h5>Course:<h5><label> {{profile.course}}</label>
  <h5>Thread Preference:<h5><label> {{profile.coursePref}}</label>

  <br>
<h5>Update Profile Picture</h5>
<form class="" action="/image" method="post">
    <input type="hidden" role="uploadcare-uploader" name="upload"
         data-crop="250x300"
         data-images-only="true"
         data-clearable = "true"
 />
       <input class="btn black" type="submit" value="Update">
</form>
<h5>Update Profile Details</h5>
<a class="waves-effect waves-light btn modal-trigger black" href="#profileModal"><i class="material-icons">content_cut</i></a>

<ul class="collapsible" data-collapsible="accordion">
   <li>
     <div class="collapsible-header black white-text"><i class="material-icons">chrome_reader_mode</i>Threads by You</div>
     <div class="collapsible-body">
       {{#each questions}}
     <a href="/thread/{{this.id}}">{{this.question}}</a>
       <form action="/thread/{{ this.id }}?_method=DELETE" method="post">
         <button class="btn black" type="submit" name="button">Delete</button>
       </form>
     {{/each}}
   </div>
   </li>
   <li>
     <div class="collapsible-header black white-text"><i class="material-icons">place</i>Answers by You</div>
     <div class="collapsible-body">
       {{#each answers}}
     <a href="/thread/{{this.parent}}">{{this.description}}</a>
       <form action="/addAnswer/profile/{{ this.id }}?_method=DELETE" method="post">
         <button class="btn black" type="submit" name="button">Delete</button>
       </form>
     {{/each}}
   </div>
   </li>
 </ul>
</div>

<!-- Modal Structure -->
<div id="profileModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Update Profile</h4>
    <form class="" action="/profile/{{profile.id}}?_method=PUT" method="post">
      <label for="newName">Name</label>
      <input id="newName" type="text" name="name" value="{{profile.name}}">
      <label for="newEmail">Email</label>
      <input id="newEmail" type="email" name="email" value="{{profile.email}}">
      <label for="newCourse">Course</label>
      <input id="newCourse" type="text" name="course" value="{{profile.course}}">
      <label for="newCourse">Load home page threads based on course? (yes/no)</label>
      <input id="newCourse" type="text" name="coursePref" value="{{profile.coursePref}}">
  </div>
  <div class="modal-footer">
      <input class="btn black" type="submit" value="Update">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
  </div>

</form>
</div>
