

<div class="profile">
  <img class="materialboxed" src={{profile.pic}} alt="Profile Picture"><p>
  <label>Name: {{profile.name}}</label><p>
  <label>Email: {{profile.email}}</label>

  {{!-- <form enctype="multipart/form-data" action="/uploadImage" method="POST">
  <input type="file" name="myFile">
  <input type="submit" class="btn btn-primary">
</form> --}}
<h3>Update Profile Picture</h3>
<form class="" action="/image" method="post">
  <input type="hidden" role="uploadcare-uploader" name="upload"
       data-crop="250x300"
       data-images-only="true"
       data-clearable = "true" />
       <input type="submit" value="Update">
</form>

<ul class="collapsible" data-collapsible="accordion">
   <li>
     <div class="collapsible-header"><i class="material-icons">chrome_reader_mode</i>Threads by You</div>
     <div class="collapsible-body">
       {{#each questions}}
     <a href="/thread/{{this.id}}">{{this.question}}</a>
       <form action="/thread/{{ this.id }}?_method=DELETE" method="post">
         <button type="submit" name="button">Delete</button>
       </form>
     {{/each}}
   </div>
   </li>
   <li>
     <div class="collapsible-header"><i class="material-icons">place</i>Answers by You</div>
     <div class="collapsible-body">
       {{#each answers}}
     <a href="/thread/{{this.parent}}">{{this.description}}</a>
       <form action="/addAnswer/{{ this.id }}?_method=DELETE" method="post">
         <button type="submit" name="button">Delete</button>
       </form>
     {{/each}}
   </div>
   </li>
 </ul>
  {{!-- <p><h3>Answers</h3>
  {{#each answers}}
  <li><a href="/thread/{{this.parent}}">{{this.description}}</a>
    <form action="/addAnswer/{{ this.id }}?_method=DELETE" method="post">
  <button type="submit" name="button">Delete</button>
</form>
</li>
  {{/each}}
  </p>
  <p><h3>Threads Started By User</h3>
  {{#each questions}}
  <li><a href="/thread/{{this.id}}">{{this.question}}</a><form action="/thread/{{ this.id }}?_method=DELETE" method="post">
<button type="submit" name="button">Delete</button>
</form></li>
  {{/each}}
  </p> --}}
</div>
