
<a href=http://api.html2pdfrocket.com/pdf?value=https://viscuss.herokuapp.com/thread/{{data.id}}&apikey=79dd7c3b-0716-4d54-aa86-47f6541049ce>Download PDF</a>

<table>

  <tr>
    <td><div class="buttons">
    <button class="up" data={{data._id}} upvotes = {{data.upVotes}} >Upvote</button>
    <p id={{data._id}}  >{{data.totalVotes}}</p>
    <button class="down" data={{data._id}} downvotes = {{data.downVotes}} >Downvote</button>
    </div></td>
    <td>
    <p>{{data.description}}</p></td>
    <td>Asked By: {{author}}</td>

  </tr>
</table>
<table>
  <h1>ANSWERS:</h1>
  {{#each answer}}
  <tr>

    <td><div class="buttons">
  <button class="ansup" data={{this._id}} upvotes = {{this.upVotes}} >Upvote</button>
  <p id={{this._id}}  >{{this.totalVotes}}</p>
  <button class="ansdown" data={{this._id}} downvotes = {{this.downVotes}} >Downvote</button>
  </div></td>
  <td><p>{{this.description}}</p></td>
  <td>Answered By: {{this.creatorName}}</td>

</tr>
  {{/each}}
</table>

<form method="POST" action="/addAnswer">
  <input type="hidden" name="id"  value={{data._id}}>
  <br><br>
  <textarea name="userinput" rows="4" cols="50" placeholder="Enter your answer here"></textarea>

  <input id="animalType" type="submit">
</form>
