
<a href=http://api.html2pdfrocket.com/pdf?value=https://viscuss.herokuapp.com/thread/{{data.id}}&apikey=79dd7c3b-0716-4d54-aa86-47f6541049ce>Download PDF</a>

<table>

  <tr>
    <td><div class="buttons" align="center">
    <button class="up waves-effect waves-teal btn-flat" data={{data._id}} upvotes = {{data.upVotes}} ><i class="material-icons">expand_less</i></button>
    <p id={{data._id}}  >{{data.totalVotes}}</p>
    <button class="down waves-effect waves-teal btn-flat" data={{data._id}} downvotes = {{data.downVotes}} ><i class="material-icons">expand_more</i></button>
    </div></td>
    <td>
    <p>{{data.description}}</p></td>
    <td>
      {{#checkAdmin data.creator currentUser.id}}
      <a class="waves-effect waves-light btn modal-trigger" href="#threadMod">Modify</a>
        <br><br>
        <form class="" action="/thread/threadpage/{{data.id}}?_method=DELETE" method="post">
          <input class="btn" type="submit" value="Delete">
          </form>
      {{/checkAdmin}}
      {{#checkAdmin currentUser.type "admin"}}
      <a class="waves-effect waves-light btn modal-trigger" href="#threadMod">Modify</a>
        <br><br>
        <form class="" action="/thread/threadpage/{{data.id}}?_method=DELETE" method="post">
          <input class="btn" type="submit" value="Delete">
          </form>
      {{/checkAdmin}}
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      Asked By: {{author}}
    </td>
  </tr>
</table>
<h1>ANSWERS:</h1>
{{#each answer}}
<div class={{this._id}}>
<table class="bordered">


    <tr>
      <td>
        <div class="buttons" align="center">
  <button class="ansup waves-effect waves-teal btn-flat" data={{this._id}} upvotes = {{this.upVotes}} ><i class="material-icons">expand_less</i></button>
  <p id={{this._id}}  >{{this.totalVotes}}</p>
  <button class="ansdown waves-effect waves-teal btn-flat" data={{this._id}} downvotes = {{this.downVotes}} ><i class="material-icons">expand_more</i></button>
  </div></td>
  <td><p>{{this.description}}</p></td>
  <td>
    {{#checkAdmin this.creator ../currentUser.id}}
      <form class="deleteForm" action="/addAnswer/threadpage/{{ this.id }}?_method=DELETE" method="post">
        <input type="hidden" name="threadId" value={{this._id}}>
        <input class="btn" type="submit" value="Delete">
      </form>
    {{/checkAdmin}}
    {{#checkAdmin "admin" ../currentUser.type}}
      <form class="deleteForm" action="/addAnswer/threadpage/{{ this.id }}?_method=DELETE" method="post">
        <input type="hidden" name="threadId" value={{this._id}}>
        <input class="btn" type="submit" value="Delete">
      </form>
    {{/checkAdmin}}
  </td>
</tr>
<tr>
  <td></td>
  <td>
    Answered By: {{this.creatorName}}
  </td>
</tr>

</table>
</div>
{{/each}}


<form method="POST" action="/addAnswer">
  <input type="hidden" name="id"  value={{data._id}}>
  <br><br>
  <textarea class="materialize-textarea" name="userinput" rows="4" cols="50" placeholder="Enter your answer here"></textarea>
  <button class="btn" type="submit" name="button">Comment</button>
</form>

<!-- Set up for thread modification Modal -->
<div id="threadMod" class="modal modal-fixed-footer">
   <div class="modal-content">
     <h4>Edit Thread</h4>
     <form class="" action="/thread/{{data.id}}?_method=PUT" method="post">
       <label for="threadTitleNew">Edit Title</label>
       <input id="threadTitleNew"type="text" name="titleNew" value="{{data.question}}"></input>
       <label for="threadDescriptionNew">Edit Description</label>
       <textarea class="materialize-textarea" rows="4" cols="50" id="threadDescriptionNew" type="text" name="descriptionNew" >{{data.description}}</textarea>
   </div>
   <div class="modal-footer">
     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
     <input class="btn" type="submit" value="Update">
   </div>
   </form>
 </div>
