<% include ../partials/header %>

<h3><%= profile.firstname %> <%= profile.lastname %></h3>
  <div class="row">
    <div class="col s3">
      <img src="<%= profile.profilePic %>">
      <h5><%= profile.username %></h5>
      <% if (profile._id.toString() == user._id.toString()) { %>
      <a href="/review/add" class="waves-effect waves-light btn"><i class="material-icons">create</i> review</a>
    <% } %>
    </div>

    <div class="col s9">
      <ul class="tabs">
        <div class="indicator cyan"></div>
        <li class="tab col s6"><a class="cyan-text text-darken-3" href="#review">Review</a></li>
        <li class="tab col s6"><a class="cyan-text text-darken-3" href="#bookmark">Bookmark</a></li>
      </ul>

      <div id="review">
        <%  review.reverse().forEach(function(item) { %>
          <div class="row">
            <div class="col s5">
              <a href="/fullreview/<%= item._id %>">
              <img src="<%= item.photo %>" alt="">
          </a>
            </div>
            <div class="col s7">
              <h4 class="review-title"><%= item.title %></h4>
              <p class="review-para">
                <%= item.date %>
              </p>
              <p>
                <%= item.review %>
              </p>
            </div>
          </div>
          <%  }); %>

            <!-- end of review -->
      </div>


      <div id="bookmark">
        <%  for (var i = bookmark.length - 1; i >= 0; i -= 2) { %>
          <div class="row">
            <div class="col s12 m6">
              <div class="card-image">
                <a href="/fullreview/<%= bookmark[i].reviewId %>">
                <img src="<%= bookmark[i].photo %>">
              </a>
                <!-- corner -->
                <% if (profile._id.toString() == user._id.toString()) { %>
                <a href="/bookmark/delete/<%= bookmark[i]._id %>" class="delete-bookmark"><i class="material-icons">close</i></a>
                <% } %>
              </div>
              <div class="card-content">
                <h4 class="review-title"><%= bookmark[i].title %></h4>
                <h5 class="review-date"><%= bookmark[i].location %></h5>
              </div>
            </div>

            <% if (bookmark[i-1] != null) { %>
              <div class="col s12 m6">
                <div class="card-image">
                  <a href="/fullreview/<%= bookmark[i-1].reviewId %>">
                  <img src="<%= bookmark[i-1].photo %>">
                </a>
                  <!-- corner -->
                  <% if (profile._id.toString() == user._id.toString()) { %>
                  <a href="/bookmark/delete/<%= bookmark[i-1]._id %>" class="delete-bookmark"><i class="material-icons">close</i></a>
                  <% } %>
                </div>
                <div class="card-content">
                  <h4 class="review-title"><%= bookmark[i-1].title %></h4>
                  <h5 class="review-date"><%= bookmark[i-1].location %></h5>
                </div>
              </div>
              <% } %>
          </div>
          <%  } %>

            <!-- end of bookmark -->
      </div>

      <!-- end of 2nd column -->
    </div>

    <!-- end of row -->
  </div>

  <% include ../partials/footer %>
