<body>
<br>
<b>Portfolio Overview - Private Page</b> 

<!-- (home.handlebars) -->

<br>
<br>
<!-- Portfolio Market Value (as of MM-DD-YYYY): ${{portMktVal}} -->

<br>
<!-- <br> -->

<b>Transact</b>

<br>
<br>

<form action="" id="transact" method="post">	
	<select id="instrumentsMenu">
		<option value="" selected></option>
		{{#each instrumentsList as |instrument|}}
			<option value="{{ instrument.id }}">{{instrument.name}}</option>
		{{/each}}
	</select>
	<a id="buyInstrument" href="">Buy</a>
</form>

<p id="eodMktPricing"></p> 

<br>

<b>Positions</b>
<br>
<ul id='positionUl'>
	{{#each portHolding as |position|}}
		<li id="{{ position.id }}"> {{position.instrument.name}} <a id="sellPosition:{{ position.id }}" href="">Sell</a></li>
	{{/each}}
</ul>

<!-- <b>Name:</b> <b>Qty:</b> {{position.quantity}} <b>Unit Cost:</b> {{position.unitCost}}-->


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="script/script.js"></script>
</body>