<br>
Portfolio Overview - Private Page (home.handlebars)

<br>
<br>
Portfolio Market Value (as of MM-DD-YYYY): ${{portMktVal}}

<br>
<br>

<b>Transact</b>

<br>

xx
{{instrumentList}}
yy

{{#each instrumentList as |instrument|}}
        <option value="{{ instrument.id }}">{{instrument.name}}</option>
{{/each}}
<br>zz

<br>

<form method="post">
	<a class="buyETF" href="/">Buy</a>
	<select name="selectETF">
	    <option value="double chocolate">Double Chocolate</option>
	    <option value="vanilla">Vanilla</option>
	    <option value="strawberry">Strawberry</option>
	    <option value="caramel">Caramel</option>
	</select>
</form>

<form method="post">
	<a href="/">Sell</a>
	<select name="ETFs">
	    <option value="double chocolate">Double Chocolate</option>
	    <option value="vanilla">Vanilla</option>
	    <option value="strawberry">Strawberry</option>
	    <option value="caramel">Caramel</option>
	</select>
</form>

<br>
<br>
<br>
<br>

<b>Positions</b>
<br>
{{positions}}



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- <script src="script.js"></script> -->