<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">all programs</h1>
  </div>
</div>
<div class="container">
  <div class="d-flex flex-wrap justify-content-start mb-4">
  <% allPrograms.forEach(function (indivProgram) { %>
    <%
    let selfProgramCardStyle = ""
    let selfProgramHeaderStyle = ""
    let selfProgramImageStyle = ""
    let selfProgramHeader = ""
    if ((indivProgram.admin).toString() === (currentUser.id).toString()) {
      selfProgramCardStyle = "card-outline-primary"
      selfProgramHeaderStyle = "color:#0275d8"
      selfProgramHeader = "you created this!"
      selfProgramImageStyle = "border-top: 1px solid #0275d8; border-bottom: 1px solid #0275d8"
    } else {
      selfProgramHeaderStyle = "color:#a9a9a9"
      selfProgramHeader = "programs created by others"
    }
    %>
    <div class="card m-2 <%= selfProgramCardStyle %>" style="width: 20rem;">
      <div class="card-header" style="<%= selfProgramHeaderStyle %>">
      <%= selfProgramHeader %>
      </div>
      <img class="card-img-top" src="<%= indivProgram.imageURL %>" style="height:12rem; object-fit:cover; border-bottom: 1px solid #d3d3d3; <%= selfProgramImageStyle %>">
      <div class="card-block">
        <a href=<%= "/program/" + indivProgram.id %>>
          <h4 class="card-title"><%= indivProgram.name %></h4>
        </a>
        <span class="badge badge-info mb-2"><%= indivProgram.subject %></span>
        <% for (var level in indivProgram.commitment) { %>
          <% if (indivProgram.commitment[level] === true && level !== '$__isNested') { %>
            <span class="badge badge-danger mb-2"><%= level %></span>
          <% } %>
        <% } %>
        <br>
        <p class="card-text mb-2"><%= indivProgram.description %></p>
        <%
        let hasWebsite = ""
        if (!indivProgram.website) {
          hasWebsite = "display:none; visibility:hidden"
        }
        %>
        <a href="<%= indivProgram.website %>" target="_blank" style="<%= hasWebsite %>">external site</a><br>
      </div>
    </div>
  <% }) %>
  <%
  let createProgramsButtonPresence = ""
  if (currentUser.userTypes.admin === false) {
    createProgramsButtonPresence = "display: none; visibility: hidden;"
  }
  %>
  <div class="card m-2" style="width: 20rem; <%= createProgramsButtonPresence %>">
    <div class="card-header text-muted">
    (your next program)
    </div>
    <div class="text-muted pl-4" style="height:12rem; border-bottom: 1px solid #d3d3d3;">
    <br>
    <br>
    <br>
    <p>(insert beautiful image here)</p>
    </div>
    <div class="card-block">
      <a class="btn btn-primary mt-0 mb-0" href="/program/new">Create a new program</a><br>
      <span class="badge badge-default mb-2">some</span>
      <span class="badge badge-default mb-2">awesome</span>
      <span class="badge badge-default mb-2">program</span>
      <p class="card-text text-muted mb-2">That will make a world of difference to some very important people henceforth and for a very long time</p>
      <p class="card-text text-muted"><em>can't wait</em></p>
    </div>
  </div>
  </div>
</div>
