{{!-- <h2>Name of Show: {{ show.name }}</h2> --}}
<h2>Name of Tour: {{ tour.name }}</h2>

<h3>All Reviews</h3>

<p>
  {{!-- {{ user.name }} --}}
  {{ review.title }}<br>
  {{ review.description }}
</p>
