<h1>this is where all the playlists live.</h1>
<h1>get grooving.</h1>
<a href="/playlists/create"><button class="btn btn-primary">create a playlist</button></a>
<!-- <div class="hash"><%= playlists %></div> -->
<hr>
<% playlists.sort((a,b) => b.tracks.length - a.tracks.length).forEach(e => { %>
  <a href=<%= '/playlists/' + e._id %>>
    <div class="col-md-4 playlist-panel">
      <h1><%= e.name %></h1>
      <hr>
      <p>by <%= e.creator.name %></p>
      <p class="pull-right tiny"><%= e.tracks.length %> tracks from <%= e.collaborators.length %> collaborators</p>
    </div>
  </a>
<% }) %>