<h1>
  <%= playlist.name %>
  <% if (locals.user.likedPlaylists.indexOf(playlist._id) < 0) { -%>
    <a href="<%= '/playlists/'+playlist._id+'/like' %>"><span class="label label-like"><i class="fa fa-thumbs-o-up"></i>  like this playlist!</span></a>
  <% } else { -%>
    <a href="<%= '/playlists/'+playlist._id+'/unlike' %>"><span class="label label-like"><i class="fa fa-thumbs-o-down"></i>  unlike this playlist!</span></a>
  <% } -%>
</h1>
<p>a playlist by <%= playlist.creator.name %></p>
<% let collaborators = playlist.tracks.map(e => e.contributor.name).filter((e, i, a) => a.indexOf(e) === i).join(', ') %>
<p>collaborators: <%= collaborators %></p>
<hr>
<div class="row">
  <div class="col-md-5 col-md-push-7">
    <div class="well add-track">
      <form id="search-form">
        <h4>search for a track.</h4>
        <input type="text" class="form-control" id="query" placeholder="e.g. 'Here Comes The Sun'">
        <button type="submit" class="btn btn-primary">Search</button>
        <p class="tiny pull-right">powered by spotify!</p>
      </form>
      <div id="results"></div>
    </div>
  </div>
  <div class="col-md-7 col-md-pull-5">
    <% if (playlist.tracks.length === 0) { %>
      <h1>there's nothing here.<br>add some tracks!</h1>
    <% } %>
    <% playlist.tracks.sort((a,b) => b.rank - a.rank).forEach((e, i) => { %>
      <div class="panel track-panel">
        <div class="label pull-left"><%= i+1 %></div>
        <a href="<%= '/playlists/'+playlist._id+'/up/'+e._id %>"><div class="label label-btn pull-right"><i class="fa fa-angle-up"></i></div></a>
        <div class="label pull-right rank"><%= e.rank %></div>
        <a href="<%= '/playlists/'+playlist._id+'/down/'+e._id %>"><div class="label label-btn pull-right"><i class="fa fa-angle-down"></i></div></a>
        <% if (locals.user.name === e.contributor.name) { %>
          <a href="<%= '/playlists/'+playlist._id+'/delete/'+e._id %>"><div class="label pull-right delete"><i class="fa fa-trash"></i></div></a>
        <% } %>
          <hr>
          <img class="track-img pull-left" src="<%= e.image %>">
          <h2><%= e.title %></h2>
          <hr>
          <h4 class="pull-left"><%= e.artist %></h4>
          <p class="tiny pull-right"><em>contributed by <%= e.contributor.name %></em></p>
      </div>
    <% }) %>
    <!-- <%= playlist %> -->
  </div>
</div>
<hr>
<script src="../js/spotify-search.js"></script>
