<div class="container mainCont">

  <div class="leftCont">
    <div class="leftTitles">
      Items and Stock
    </div>

    <div class="leftView">
      {{#if success_msg}}
        <div class="alert alert-success"> {{ success_msg }} </div>
      {{/if}}

      {{#each items}}
        <div class="itemBox">
          <img src="/style/img/placeholder.png">
          <p>Name: {{ name }}</p>
          <p>Price: {{ price}}</p>
          <p>Total Stock: {{ total_stock }}</p>
          <button type="button" class="deleteItemBtn" id="{{ _id }}">Delete</button>
        </div>
      {{/each}}
    </div>
  </div>


  <div class="rightCont">
    <div class="rightTitles">
      Add Item
    </div>
    <div class="rightView">
      <form action="/items" method="post">

        <div class="addCustFormField" name="name">
          <label for="name">Name</label><br>
          <input type="text" name="name" value="" placeholder="Item Name">
        </div>

        <div class="addCustFormField" name="price">
          <label for="price">Price per item</label><br>
          <input type="text" name="price" value="" placeholder="1.99">
        </div>

        <div class="addCustFormField" name="total_stock">
          <label for="total_stock">Total Stock</label><br>
          <input type="text" name="total_stock" value="" placeholder="100">
        </div>

        <div class="addCustFormField" name="submitBtn">
          <input type="submit" name="submit"/>
        </div>
      </form>
    </div>
  </div>
