<h2>{{ pharmacy.name }} <small>({{ pharmacy.medication }})</small></h2>

<h3>Owned by: {{ pharmacy.owner.name }} ({{ restaurant.owner.email }})</h3>

<p>
  {{ pharmacy.address.building }}<br>
  {{ phamacy.address.street }}, {{ pharmacy.address.zipcode }}
</p>

<h3>Update</h3>
<form action="/medication/{{ medication.id }}?_method=PUT" method="post">
  <label for="name">Medication</label>
  <input type="text" name="name" value="{{ medication.name }}">

  <label for="cuisine">Refill reminder</label>
  <input type="text" name="cuisine" value="{{ restaurant.cuisine }}">

  <button type="submit" name="button">Submit</button>
</form>

<h3>Delete</h3>
<form action="/restaurants/{{ restaurant.id }}?_method=DELETE" method="post">
  <button type="submit" name="button">Delete</button>
</form>
