<h3>My Profile</h3></h3>

{{!-- <h1>{{user}}</h1> --}}

<h1>Hi my name is {{peep.name}}</h1>

<img src="{{peep.profileImg}}" alt="{{peep.name}}" style="max-width:350px"/>

<h3>Nickname: {{peep.profile.0.nickname}}</h1>
<h3>About me:{{peep.profile.0.about}}</h1>
<h3>Skills: {{peep.profile.0.skills}}</h1>
<h3>Past Projects: {{peep.profile.0.projs}}</h1>
<h3>You can find me at: {{peep.profile.0.contact}}</h1>
