<h3>My Profile</h3></h3>

{{!-- <h1>{{user}}</h1> --}}

<h1>Hi my name is {{peep.name}}</h1>


<h1>Nickname: {{peep.profile.0.nickname}}</h1>
<h1>About me:{{peep.profile.0.about}}</h1>
<h1>Skills: {{peep.profile.0.skills}}</h1>
<h1>Past Projects and Gigs: {{peep.profile.0.projs}}</h1>
<h1>You can find me at: {{peep.profile.0.contact}}</h1>



{{!-- What i need over here
profile data in nice nice --}}
