{{#if user }}
  <h2>Username: {{ user.username }} </h2>
  <div>
    <p>Favourite carparks: </p>
    <ul id='carparkList'>
      {{#each user.carparks as |carpark|}}
        <li>
          <h3>{{ carpark.name }}</h3>
          <p>{{ carpark.address }}</p>
          <p>{{ carpark.id }}</p>
          <form action="/users/{{carpark.id}}?_method=delete" method="post">
            <button>Delete</button>
          </form>
        </li>
        {{else}}
          <li>no place</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#unless user }}
  <h2>No such user!</h2>
  <p> Please sign up with us! </p>
{{/unless}}
