<h1>here!!</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/profile/{{user.username}}">My Listings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/profile/{{user.username}}/offers">My trade requests</a>
  </li>
</ul>

{{#each offers as |offa|}}
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{offa.photos}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{offa.title}}</h4>
    <p class="card-text">{{offa.description}}</p>
    {{#if offa.dealt}}

    <p>deal is closed</p>
    {{else}}
    <p>deal still open</p>

    {{/if}}
  </div>
  {{/each}}
