<div class="container">
<h3>{{user.name}} Profile</h3>
<label for=""></label>
<form class="textBox" action="/profile" method="post">
  <textarea name="textBox" rows="97" cols="60"></textarea>
  <input type="hidden" name="user" value="{{user.id}}">
  <button type="submit" name="button">Analyze Text</button>
</form>


{{!-- {{#each data as |result|}} --}}
{{!-- <p>{{data}}</p> --}}
  <ul id="myChart">
    {{!-- #id='red' --}}
    <li>Openness: {{result.openness}}</li>
    <li>Conscientiousness: {{result.conscientiousness}}</li>
    <li>Extraversion: {{result.extraversion}}</li>
    <li>Agreeableness: {{result.agreeableness}}</li>
    <li>Emotion Range: {{result.emotionalRange}}</li>
  </ul>
  <form action="/profile/{{result.id}}?_method=DELETE" method="post">
    <button type="submit" name="button">Delete</button>
  </form>

  <h3>Update</h3>
  <label for=""></label>
  <form class="textBox" action="/profile/{{result.id}}?_method=PUT" method="post">
    <textarea name="textBox" rows="97" cols="60"></textarea>
    {{!-- <input type="hidden" name="user" value="{{user.id}}"> --}}
    <button type="submit" name="button">Update</button>
  </form>

  {{!-- <h3>Update</h3>
<form action="/restaurants/{{ restaurant.id }}?_method=PUT" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{ restaurant.name }}"> --}}
  {{!-- we put the {{}} inside value cos we want to show the existing name --}}

  {{!-- <label for="cuisine">Cuisine</label>
  <input type="text" name="cuisine" value="{{ restaurant.cuisine }}">

  <button type="submit" name="button">Submit</button>
</form> --}}


</div>
{{!-- {{/each}} --}}
