<br/><br/><br/>

<div class="container">
  <h2>View Trips</h2>

  <label for="searchInput">Filter by Country: </label>
  <select type="text" class="form-control" name="trips[category]" id="searchInput" placeholder="Country">
<option value="All" selected>Choose by country:</option>
{{#each categories as |search|}}
    <option value="{{search}}">{{search}}</option>
  {{/each}}
</select>

  <br/>
  <div class="card-columns" id="searchResults">
    {{#each travelplans as |fullTrip|}}
      <div class="card">
        <img class="card-img-top" src="{{fullTrip.picture}}" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">{{fullTrip.title}}</h6>
          <p class="card-text">
            {{ fullTrip.address }}<br>
            {{ fullTrip.category }}<br>
            {{!-- <a href="https://maps.google.com/?cid=9123933771843294962" target="_blank">View google map</a><br> --}}
            <a href="https://www.google.com/maps/search/?api=1&query={{fullTrip.latitude}},{{fullTrip.longitude}}&query_place_id={{fullTrip.placeId}}" target="_blank">View google map</a><br>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ fullTrip.description }}</li>
            </ul>
          </p>

          <p class="card-text"><small class="text-muted">{{fullTrip.formattedDate}}</small></p>
        </div>
      </div>
    {{/each}}

  </div>
</div>
