<h1>Hi my name is {{gig.name}}</h1>


<h1>Name: {{gig.name}}</h1>
<h1>Need it by: {{gig.dates}}</h1>
<h1>Specs of the Gig: {{gig.specs}}</h1>
<h1>More details: {{gig.description}}</h1>
<h1>Here are the skills I'll need from you: {{gig.skills}}</h1>
<h1>Contact Me! {{gig.author.name}}</h1>

<button
