
{{#if user.project}}
<h3>Project: {{user.project}}</h3>
<!-- <canvas class="whiteboard"></canvas> -->
<div class="mainBoard">

<div class="left">
  <div id="create" class="boardElement">
    <p>Create:</p>

    <p>Create a new task</p>
    <form action="/board" id="createTask">
      <input type="hidden" name="task[user]" value="{{user.name}}">
      <input type="hidden" name="task[project]" value="{{user.project}}">
      <label for="name">Task Name:</label>
      <input type="text" name="task[name]">
      <label for="currentUser">Current User:</label>
      <input type="text" name="task[currentUser]" value="">
      <label for="startDate">Start Date:</label>
      <input type="date" name="task[startDate]" value="">
      <label for="endDate">End Date:</label>
      <input type="date" name="endDate" value="">
      <button type="submit" name="button">Send</button>
    </form>
  </div>

  <div id="review" class="boardElement">
    <p>Review/Test:</p>
  </div>

  <div id="return" class="boardElement">
    <p>Return/Bugs:</p>
  </div>
</div>
<p>Chat</p>
  <div class="chat">
    <ul id="messages"></ul>
    <form action="/board" id="message">
      <input type="hidden" id="userName" value="{{user.name}}">
      <input type="hidden" id="userProject" value="{{user.project}}">
      <input id="m" autocomplete="off" type="text" name="message[name]">
      <button type="submit" name="button">Send</button>
    </form>
  </div>
</div>

{{/if}}
