
{{#if user.project}}
<h3>Project: {{user.project}}</h3>
<!-- <canvas class="whiteboard"></canvas> -->
<div class="mainBoard">

<div class="left">
  <div id="create" class="boardElement">
    <p>Create:</p>
    {{#each tasks as |task|}}
      <div>{{task.name}}: {{task.assigned}}</div>
    {{/each}}


<div class="createTask">
  <p>Create a new task</p>
  <form action="/board" id="createTask">
    <input type="hidden" id="taskUser" value="{{user.name}}">
    <input type="hidden" id="taskProject" value="{{user.project}}">
    <input type="hidden" id="taskProjectId" value="{{user.projectId}}">
    <label for="name">Task Name:</label>
    <input type="text" id="taskName">
    <br>
    <label for="currentUser">Assigned:</label>
    <input type="text" id="taskAssigned">
    <br>
    <label for="startDate">Start Date:</label>
    <input type="date" id="taskStart">
    <br>
    <label for="endDate">End Date:</label>
    <input type="date" id="taskEnd">
    <label for="projectedEnd">Projected End Date:</label>
    <input type="date" id="projectedEnd">
    <button type="submit" name="button">Send</button>
  </form>
</div>
  </div>

  <div id="review" class="boardElement">
    <p>Review/Test:</p>
  </div>

  <div id="return" class="boardElement">
    <p>Return/Bugs:</p>
  </div>
</div>
<p>Chat</p>
  <div class="chat">
    <ul id="messages">
      {{#each messages as |message|}}
        <li>{{message.author}}: {{message.content}}</li>
      {{/each}}
    </ul>
    <form action="/board" id="message">
      <input type="hidden" id="userName" value="{{user.name}}">
      <input type="hidden" id="userProject" value="{{user.project}}">
      <input type="hidden" id="userProjectId" value="{{user.projectId}}">
      <input id="m" autocomplete="off" type="text">
      <button type="submit" name="button">Send</button>
    </form>
  </div>
</div>

{{/if}}
