<div class='background-yellow' style='<% if (event.image) { %>
  background: url(<%=cloudinary.url(event.image, { width: 1580, height: 800, crop: 'fill', gravity: 'face'})%>)
<%}%>
'>
</div>
<div class='container content'>
<% include ../partials/alerts %>
<div class='col-md-12 align-middle'>
  <form action=<%= '/event/' + event._id + '/edit?_method=PUT' %> method='POST'>
    <div class='form-group'>
      <label for='eventName'>Name</label>
      <input id='eventName' class='form-control' type='string' name='name' value = '<%= event.name%>'>
    </div>

    <div class='form-group col-md-6'>
      <label for='eventStartDate'>Start Date</label>
      <input id='eventStartDate' class='form-control' type='datetime-local'  name='startDate' value='<%= dateFormat(event.startDate)%>'>
    </div>

    <div class='form-group col-md-6'>
      <label for='eventEndDate'>End Date</label>
      <input id='eventEndDate' class='form-control' type='datetime-local' name='endDate' value='<%= dateFormat(event.endDate)%>'>
    </div>

    <div class='form-group'>
      <label for='eventLocation'>Location</label>
      <input id='eventLocation' class='form-control' type='string' name='location' value='<%= event.location%>'>
    </div>
    <div class='form-group col-md-6'>
      <!-- <label for='eventLocation'>Location</label> -->
      <!-- <input id='eventCategory' class='form-control' type='string' name='category' placeholder='Category'> -->
      <label for='sel1'>Category</label>
      <input class='form-control' id='sel1' name='category' disabled value='<%= event.category%>'>

    </div>

    <div class='form-group col-md-6'>
      <label for='eventVacancy'>Vacancies</label>
      <input id='eventVacancy' class='form-control' type='Number' min=0 name='vacancy' value='<%=event.vacancy%>'>
    </div>

    <div class='form-group'>
      <!-- <label for='eventLocation'>Location</label> -->
      <textarea id='descriptionInput' class='form-control' type='string' rows='10'  name='description'><%= event.description %></textarea>
    </div>

    <div class='form-group pull-left'>
      <input class='btn btn-primary' type='submit'>
    </div>
  </form>
  <a class='pull-right' href='/event/<%= event._id%>'><button class='btn btn-danger'>Cancel</button></a>
</div>
</div>
