
<div class='container-fluid full-height event-index flex'>

  <div class='col-md-4 text-center'>

    <h1>Kakis</h1><br>
    <p>Find your strength, find your passion, find your kakis</p>

    <% include ../partials/searchbar %>
  <% include ../partials/alerts %>
</div>
</div>


<section class='container-fluid h95-vh' id='newevents'>
  <% include ./newevents %>
</section>





  <!-- <div class='row'>
    <div class = 'col-md-12 panel panel-default '>
      <h1> New Event</h1>
      <div class='flex col-md-12'>
    <% results.events.forEach( (event) => { %>
    <a class='flex col-md-4' href='/event/<%=event._id%>'><div class='col-md-10 panel panel-default'>
      <h2><%= event.name%></h2>
      <ul>
        <li>Date: <%= event.startDate.toDateString()%> <%= event.startDate.toLocaleTimeString()%>   - <%= event.endDate.toDateString()%> <%= event.endDate.toLocaleTimeString()%> </li>
        <li>Venue: <%= event.location%></li>
        <li>Organiser: <%= event.creator.name%></li>
      </ul>
    </div></a>
    <%})%>
  </div>
  </div>
  </div>


  <div class='row'>
  <% results.cat.forEach( (c) => { %>
    <a href='/event/cat/<%= c.name%>'><div class='col-md-2 panel panel-default cat-box'><%=c.name%></div></a>
  <%})%>
  </div> -->
