<div class='container'>
  <% include ../partials/alerts %>
  <div class='row'>

    <div class='col-md-9 panel panel-default'>
      <h2><%= results.event.name%></h2>
      <span class="pull-right"><p>Organised by: <%= results.event.creator.name%></p></span>


      <hr>
      <ul>
        <li>Date: <%= results.event.startDate%> - <%= results.event.endDate%></li>
        <li>Venue: <%= results.event.location%></li>
      </ul>
      <div class='col-md-12'>
        Details:
        <%- simpleFormat(results.event.description) %>
      </div>

      <% if (user) {%>
        <% if (results.event.creator.equals(user.id)) {%>
          <a href='/event/<%=results.event._id%>/edit'><button class='btn btn-primary'>Edit</button></a>
          <a href='/event/<%=results.event._id%>/delete'><button class='btn btn-danger'>Delete</button></a>
        <%} else if (results.joined !== null){%>
            <button class='btn btn-danger' disabled>Joined</button>
            <a href='/event/<%=results.event._id%>/cancel'><button class='btn btn-primary'>Cancel</button></a>
        <%} else {%>
              <a href='/event/<%= results.event._id%>/join'><button class='btn btn-danger'>RSVP</button></a>
       <%}%>
      <%}%>
    </div>
    <div class='col-md-3 panel panel-default'>
      <h2>Participants</h2>
      <% results.participants.forEach( (participant)=> { %>
        <div class='panel panel-default'>
          <%= participant.user.name%>
        </div>
      <%})%>
    </div>
 </div>
</div>
