<br/><br/><br/>

<div class="container">
<div class="row">
  {{!-- Loop --}}
  {{#each travelplans as | route |}}
  <div class="col-4">

    <div class="card">
      <img class="card-img-top" src="{{route.picture}}" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">{{route.title}}</h6>
        <p class="card-text">
          {{ route.address }}, {{ route.category }}<br>
          <a href="https://www.google.com/maps/@{{route.latitude}},{{route.longitude}},15z" target="_blank">MAP YO!</a><br>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ route.description }}</li>
          </ul>
        </p>

        <form
          class="form-inline"
          action="/routes/{{ route.id }}?_method=DELETE"
          method="post"
        >
          <a href="/routes/{{ route.id }}" class="btn btn-primary">Update</a>

          &nbsp;

          <button class="btn btn-danger" type="submit" name="button">Delete</button>
          {{!-- don't need input fields here, cos we're not updating anything --}}
        </form>

        <p class="card-text"><small class="text-muted">{{route.formattedDate}}</small></p>
      </div>
    </div>
  </div>
  {{/each}}

</div>
</div>
