<h3>{{ pattern.title }}</h3>

<img src="{{pattern.imageUrl}}" width=300 alt="Image">

<div class="">
  {{#if userMatch}}
  <a class="nav-link" href="/pattern/{{pattern.id}}/edit">Edit Pattern</a>
  {{/if}}
</div>
<div class="">
  <h4>{{ pattern.creator.name }}</h4>
  <h4> {{ patttern.created }}</h4>
  <h4> {{ pattern.category }}</h4>
</div>
<div class="">


</div>
<div class="">
  <p>{{ pattern.material }}</p>
  <p> {{ pattern.steps }}</p>
</div>

<div class="">
  <a href="/pattern/{{pattern.id}}/variation/new" class="button">I did this</a>
</div>

<div class="">
  <form class="bookmarkForm" action="/pattern/{{pattern.id}}/bookmark" method="post">
    <button type="submit" name="bookmarkBtn">Add to Bookmark</button>
  </form>

</div>
<div class="">
  <h3>Variation</h3>
  <div class="">

    {{#each pattern.variation as |variation| }}
    <div class="">
      <a href="/project/{{variation.id}}">
      <img src="{{variation.imageUrl}}" width=100 alt="Image">
      <h5> {{ variation.title }}</h5>
      </a>

    </div>
    {{/each}}

  </div>

</div>
