<div class="container mainCont">

  <div class="leftCont">
    <div class="leftTitles">
      Customers
    </div>

    <div class="leftView">
      {{#if success_msg}}
        <div class="alert alert-success"> {{ success_msg }} </div>
      {{/if}}

      {{#each customers}}
        <div class="customerBox">
          <a href="/customers/{{ _id }}">{{ firstName }} {{ lastName }}</a>
          <button type="button" class="deleteCustBtn" id="{{ _id }}">Delete</button>
        </div>
      {{/each}}
    </div>
  </div>


  <div class="rightCont">
    <div class="rightTitles">
      Add New Customer
    </div>
    <div class="rightView">
      <form class ="rightViewForm" action="/customers" method="post">

        <div class="addCustFormField" name="firstName">
          <label for="firstName">First Name</label><br>
          <input type="text" name="firstName" value="" placeholder="First Name">
        </div>

        <div class="addCustFormField" name="lastName">
          <label for="lastName">Last Name</label><br>
          <input type="text" name="lastName" value="" placeholder="Last Name">
        <div>

        <div class="addCustFormField" name="roomNumber">
          <label for="roomNumber">Room Number</label><br>
          <input type="text" name="roomNumber" value="" placeholder="01">
        </div>

        <div class="addCustFormField" name="passcode">
          <label for="passcode">4-digit Passcode</label><br>
          <input type="text" name="passcode" value="" placeholder="1234">
        </div>

        <div class="addCustFormField" name="tripStart">
          <label for="tripStart">Trip Start Date</label><br>
          <input type="date" name="tripStart" value="">
        </div>

        <div class="addCustFormField" name="tripEnd">
          <label for="tripEnd">Trip End Date</label><br>
          <input type="date" name="tripEnd" value="">
        </div>

        <div class="addCustFormField" name="submitBtn">
          <input type="submit" name="submit"/>
        </div>
      </form>
    </div>
  </div>
