<div class="container mainCont">


  <!-- Modal -->
<div id="custInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        {{#if customers}}
        <h4 class="modal-title">{{ firstName }} {{ lastName }} Details</h4>
      </div>

      <div class="modal-body">
        <p>Room Number: {{ roomNumber }}</p>
        <p>4-digit Passcode: {{ passcode }}</p>
        <p>Trip Start: {{ tripStart }}</p>
        <p>Trip End: {{ tripEnd }}</p>
      </div>
      {{/if}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> <!-- End Modal -->


  <div class="leftCont">
    <div class="leftTitles">
      Customers
      &nbsp;<input type="text" placeholder="Search..">
    </div>

    <div class="leftView">
      {{#if success_msg}}
      <div class="alert alert-success"> {{ success_msg }} </div>
      {{/if}}


      {{#each customers}}
        <div class="customerBox">
          <p>Unique ID: {{ _id }}</p>
          <p>Full Name: {{ firstName}} {{ lastName}}</p>
          <p>Room Number: {{ roomNumber}}</p>
          <p>4-digit Passcode: {{ passcode }}</p>
          <p>Trip Start: {{ tripStart }}</p>
          <p>Trip End: {{ tripEnd }}</p>
          <button type="button" class="btn" data-toggle="modal" data-target="#custInfo">View More</button>

        </div>
      {{/each}}


      <!-- This is the original, edit here and paste over to layouts/customers.handlebars -->
      <!-- There is another one in layouts/customers.handlebars -->

    </div>
  </div>


  <div class="rightCont">
    <div class="rightTitles">
      Add Customer
    </div>
    <div class="rightView">


      <form action="/customers" method="post">

        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" value="" placeholder="First Name">
        <br><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" value="" placeholder="Last Name">
        <br><br><br>

        <label for="roomNumber">Room Number</label><br>
        <input type="text" name="roomNumber" value="" placeholder="01">
        <br><br><br>

        <label for="passcode">4-digit Passcode</label><br>
        <input type="text" name="passcode" value="" placeholder="1234">
        <br><br><br>


        <label for="tripStart">Trip Start Date</label><br>
        <input type="date" name="tripStart" value="">
        <br><br><br>

        <label for="tripEnd">Trip End Date</label><br>
        <input type="date" name="tripEnd" value="">
        <br><br><br>

      <!-- Still have to input all the items purchased and total price when viewing customers  -->

        <input type="submit" name="submit"/>
      </form>
    </div>
  </div>
