<div class="row">
  <div class="col-md-9">
    <h3 class="text-center">Customers</h3>

    {{#each customers}}
    <div class="col-sm-3 text-center">
      <div class="thumbnail">
        <img src="https://i.imgur.com/MyZhcFu.png">
        <div class="caption">
          <a href="/customers/{{ _id }}" class="btn btn-outline-primary">
            <h3>
              {{ firstName }} {{ lastName}}
            </h3>
          </a> <br/>
          <button type="button" class="deleteCustBtn btn btn-danger btn-sm" id="{{ _id }}">×</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>


  <div class="col-md-3">
    <h3>Add New Customer</h3>
    {{#if success_msg}}
    <div class="alert alert-success">
      {{ success_msg }}
    </div>
    {{/if}}

    <form action="/customers" method="post">

      <div class="form-group">
        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" value="" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" value="" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="roomNumber">Room Number</label><br>
        <input type="text" name="roomNumber" value="" placeholder="01">
      </div>
      <div class="form-group">
        <label for="passcode">4-digit Passcode</label><br>
        <input type="text" name="passcode" value="" placeholder="1234">
      </div>
      <div class="form-group">
        <label for="tripStart">Trip Start Date</label><br>
        <input type="date" name="tripStart" value="">
      </div>
      <div class="form-group">
        <label for="tripEnd">Trip End Date</label><br>
        <input type="date" name="tripEnd" value="">
      </div>
      <div class="addCustFormField" name="submitBtn">
        <input type="submit" class="btn btn-primary" name="submit" value="Add Customer"/>
      </div>
    </form>
  </div>
</div>
