    <div>First Name: {{ customer.firstName }}</div>
    <div>Last Name: {{ customer.lastName }}</div>
    <div>Room Number: {{ customer.roomNumber }}</div>
    <div>4-digit Passcode: {{ customer.passcode }}</div>
    <div>Trip Start Date: {{ customer.tripStart }}</div>
    <div>Trip End Date: {{ customer.tripEnd }}</div>
    <br>
    <div>Total Price: something</div>
    <div>List of items purchased: something</div>
